// landings intro
.landings {
	&-intro {
		position: relative;

		.charities &, .sellers & {
			&:before {
				content: '';
				display: block; width: 350px; height: 350px; position: absolute; right: 110px; top: -45px;
				background: $brand; border-radius: 50%;
			}
			&:after {
				content: '';
				display: block; width: 116px; height: 116px; position: absolute; right: 10px; top: -45px;
				background: $brand; border-radius: 50%;
			}
		}

		.sellers & {
			&:before {
				top: 1px;
				background: $white url('../img/intro-bg-sellers.png') center center no-repeat;
			}
			&:after {
				top: 1px;
				background: $white;
			}
		}

		.brands & {
			&:after {
				content: '';
				display: block; width: 694px; height: 521px; position: absolute; right: 3px; top: -59px;
				background: url('../img/intro-bg-brands.png') center center no-repeat; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
			}
		}

		.buyers & {
			&:after {
				content: '';
				display: block; width: 628px; height: 639px; position: absolute; right: -4px; top: -84px;
				background: url('../img/intro-bg-buyers.png') center center no-repeat;
			}
		}
		.home & {
			&:before {
				content: '';
				display: block; width: 350px; height: 350px; position: absolute; right: 110px; top: -20px;
				background: $brand; border-radius: 50%;
			}
			&:after {
				content: '';
				display: block; width: 116px; height: 116px; position: absolute; right: 10px; top: -20px;
				background: $brand; border-radius: 50%;
			}
		}
		.home-1 & {
			&:before {
				content: '';
				display: block; width: 352px; height: 352px; position: absolute; right: 110px; top: -21px;
				background: transparent; border: solid 1px #979797; border-radius: 50%;
			}
			&:after {
				content: '';
				display: block; width: 118px; height: 118px; position: absolute; right: 69px; top: -11px;
				background: transparent; border: solid 1px #979797; border-radius: 50%;
			}
		}

		& > * {
			max-width: 380px; width: 100%;

			.buyers & {
				max-width: 460px;
			}
		}
		h1 {
			color: $black; font-family: $ms-500; font-size: 30px; line-height: 36px; letter-spacing: -0.1px;
			margin-bottom: 30px;

			.brands &, .sellers & {
				color: $white;
			}

			.buyers & {
				font-size: 36px; line-height: 43px;
			}

			.home & {
				font-size: 48px; line-height: 58px; letter-spacing: 0.2px;
				max-width: 540px; margin-bottom: 27px;
			}
		}
		p {
			color: $black; font-family: $ms-500; font-size: 16px; line-height: 24px; letter-spacing: -0.1px;
			margin-bottom: 43px;

			.brands &, .sellers & {
				color: $white;
				opacity: 0.8;
			}

			.home & {
				font-size: 18px; line-height: 26px; letter-spacing: 0;
				max-width: 400px; margin-bottom: 49px;
			}
		}
		& > a {
			color: $brand; font-family: $ms-500; font-size: 16px; line-height: 20px;
			display: inline-block; width: auto;
			&.video {
				padding-right: 36px; position: relative;
				&:after {
					content: '';
					display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%);
					border-left: solid 11px $brand; border-top: solid 7px transparent; border-bottom: solid 7px transparent;
				}
			}
		}
		ul {
			@extend .row-start-start;
			li {
				margin-right: 22px;
				&:last-child {
					margin-right: 0;
				}
				a {
					&.btn {
						padding: 14px 53px 15px;

						.brands &, .sellers & {
							color: $black;
							padding: 14px 36px 15px;
							background: $white; border-color: $white;
							&:hover {
								color: $white;
								background: $brand;
							}
						}

						.buyers & {
							color: $brand;
							padding: 13px 26px 14px;
							background: $bg-gray; border-color: $brand;
							&:hover {
								color: $white;
								background: $brand;
							}
						}
					}
				}
			}
		}
	}
}

.trade {
	& > ul {
		@extend .row-between-stretch; margin-top: -80px;
		& > li {
			width: 50%;
			&:first-child {
				padding-right: 10px;
			}
			&:last-child {
				padding-left: 10px;
			}
			article {
				width: 100%; height: 100%;
				background: $white; box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
				header {
					padding: 20px 0 14px;
					border-bottom: 1px solid rgba(151,151,151,0.1);
					h2 {
						color: $black; font-family: $ms-500; font-size: 24px; line-height: 46px; text-align: center;
					}
				}
				section {
					padding: 30px 0 35px;
					p {
						color: $black; font-family: $ms-500; font-size: 18px; line-height: 26px; text-align: center;
						max-width: 320px; margin: 0 auto 33px;
					}
					ul {
						@extend .row-center-center;
						li {
							margin-right: 30px;
							&:last-child {
								margin-right: 0;
							}
							a {
								color: $brand; font-family: $ms-500; font-size: 16px; line-height: 19px;
								display: inline-block; padding-right: 13px; position: relative;
								&:after {
									content: '';
									display: block; width: 6px; height: 6px; position: absolute; right: 0; top: 50%; transform: translateY(-50%) rotate(45deg);
									border-right: 2px solid #4489ff; border-top: 2px solid #4489ff;
								}
							}
						}
					}
				}
			}
		}
	}
}

.ads {
	display: flex; height: 600px;
	@include respond-to(lg) {height: 475px;}
	@include respond-to(md) {flex-direction: column; height: auto; overflow: visible;}

	div {
		width: 50%;
		&:first-child {
			padding-right: 10px;
		}
		&:last-child {
			padding-left: 10px;
		}
		@include respond-to(md) {
			width: 100%;
		}
	}
	header, footer {
		width: 100%; height: 50%;
		section {
			padding-bottom: 35px; padding-left: 30px;
			h2 {
				@include font-type($ms-500, 28px, 30px, 0);
				margin-bottom: 10px;
				@include respond-to(lg) {font-size: 32px; line-height: 38px;}

				@include respond-to(sm) {font-size: 30px; line-height: 38px;}
				@include respond-to(xs) {font-size: 22px; line-height: 20px; margin-bottom: 15px;}
			}
			p {
				color: $black; font-family: $ms-500; font-size: 16px; line-height: 19px;
			}
		}
	}
	article {
		width: 100%; height: 100%; position: relative;
		background: $white;
		transition: all .4s ease;
		overflow: hidden;
		@include respond-to(lg) {
			overflow: hidden;
		}
		@include respond-to(md) {
			overflow: visible;
		}
		&:hover {
			box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05); z-index: 2;
			@media (max-width: 1249px) {box-shadow: none;}
		}

		&.auctions {
			background: #9a91b7;
		}

		&.light {
			section {
				h2 {
					color: $white;
				}
				p {
					color: $white;
				}
			}
		}
	}

	figure {
		text-align: right;
		height: 100%;
		img {
			@include respond-to(lg) {
				min-width: 0; min-height: 0; width: 100%;
			}
		}
	}

	section {
		padding-left: 53px; padding-bottom: 118px; position: absolute; left: 0; bottom: 0;
		@include respond-to(md) {padding-left: 35px;}
		@include respond-to(sm) {padding-bottom: 25px;}
		@include respond-to(xs) {padding-left: 20px;}

		h2 {
			color: $black; font-family: $ms-500; font-size: 54px; line-height: 58px;
			margin-bottom: 2px;
			i {
				font-size: 24px; position: relative; bottom: 5px; right: -2px;
				@include respond-to(md) {bottom: 0;}
				@include respond-to(sm) {bottom: -2px;}
			}
			@include respond-to(xs) {font-size: 32px; line-height: 34px;}
		}
		p {
			color: $black; font-family: $ms-500; font-size: 22px; line-height: 27px;
			margin-bottom: 0;
		}
	}

	header {
		position: relative; padding-bottom: 10px;
		@include respond-to(lg) {
			height: 50%;
		}
		article {width: 100%; height: 100%;}
	}
	footer {
		display: flex; justify-content: space-between; padding-top: 10px;
		@include respond-to(lg) {
			height: 50%;
		}
		@include respond-to(xs) {flex-direction: column;}

		div {
			width: 50%;
			@include respond-to(xs) {
				width: 100%;
			}
		}
	}
}

.landing-category {
	display: flex; justify-content: space-between; position: relative;
	@include respond-to(md) {flex-direction: column; a.btn-white {width: auto !important;}}

	div {
		&:first-child {
			width: 680px;
			@include respond-to(lg) {width: 57%;}
			@include respond-to(md) {width: 100%; margin: 0 auto 20px auto;}
		}
		&:last-child {
			width: 480px;
			@include respond-to(lg) {width: 40.2%; margin: 0 auto;}
			@include respond-to(md) {width: 100%; margin: 0 auto;}
		}
		article {
			position: relative; display: inline-block; width: 100%;
			transition: all .4s ease; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
			&:hover {box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2)}

			&.light {
				section {
					h2, p {
						color: $white;
					}
				}
			}

			section {
				display: flex; flex-direction: column; justify-content: flex-end;
				position: absolute; left: 0; right: 0; top: 0; bottom: 0; padding-left: 50px; padding-bottom: 85px;
				@include respond-to(xs) {padding-left: 20px; padding-bottom: 20px;}

				h2 {
					@include font-type($ms-500, 54px, 66px, 0); color: $black;
					@include respond-to(sm) {font-size: 40px}
					@include respond-to(xs) {font-size: 30px; line-height: 44px; margin-bottom: 10px;}
				}

				p {
					@include font-type($ms-500, 22px, 27px, 0); color: $black;
					padding-left: 3px;
					@include respond-to(sm) {font-size: 18px;}
				}

			}
			figure {
				img {
					max-width: 100%;
					@include respond-to(md) {width: 100%;}
				}
			}
		}
	}
}

.how-works {
	h2 {
		color: $black; font-family: $ms-500; font-size: 30px; text-align: center;
		margin-bottom: 63px;
	}
	ul {
		@extend .row-between-start; padding: 0 100px;
		li {
			@extend .column-center-center;
			figure {
				width: 208px; height: 208px; margin-bottom: 43px;
				border: 2px dashed #979797; border-radius: 50%;	
			}
			p {
				color: $black; font-family: $ms-500; font-size: 14px; line-height: 19px; text-align: center;
				max-width: 280px;
			}
		}
	}
}

.news-preview {
	padding-top: 43px;
	ul {
		@extend .row-between-start; margin: 0 -10px;
		li {
			width: calc(33.33333% - 20px); margin: 0 10px;
			article {
				header {
					margin-bottom: 25px;
					figure {
						width: 100%; height: 246px;
						border-radius: 3px;
						overflow: hidden;
						img {
							width: 100%;
						}
					}
				}
				section {
					h4 {
						color: $black; font-family: $ms-500; font-size: 20px; line-height: 24px;
						margin-bottom: 21px;
					}
					p {
						color: $black; font-family: $ms-500; font-size: 14px; line-height: 20px;
						opacity: 0.8;
					}
				}
			}
		}
	}
}

.join {
	h2 {
		color: $white; font-family: $ms-500; font-size: 24px; text-align: center; line-height: 29px;
		margin-bottom: 52px;
	}
	ul {
		@extend .column-between-center; margin-bottom: 57px;
		li {
			color: $white; font-family: $ms-500; font-size: 14px; line-height: 18px;
			position: relative; width: 335px; padding-left: 31px; margin-bottom: 9px;
			&:last-child {
				margin-bottom: 0;
			}
			&:before, &:after {
				content: '';
				position: absolute; top: 50%; transform: translateY(-50%);
				background: $white;
			}
			&:before {
				width: 2px; height: 12px; left: 13px;
			}
			&:after {
				width: 12px; height: 2px; left: 8px;
			}
		}
	}
	a {
		&.btn {
			color: $black;
			display: block; width: 380px; margin: 0 auto; padding: 14px 35px 15px;
			background: $white; border-color: $white;
			&:hover {
				color: $white;
				background: $brand;
			}
		}
	}
}

// testimonials type 1
.testimonials {
	&-item {
		display: flex; justify-content: start;
		width: 100%; padding-left: 102px; padding-top: 5px;
		@include respond-to(lg) {padding-left: 40px;}
		@include respond-to(sm) {flex-direction: column; padding-left: 0;}

		figure {
			display: flex;
			text-align: left;
			@include respond-to(md) {flex-direction: column; justify-content: center; align-items: flex-start; }
			@include respond-to(sm) {align-items: center; text-align: center; width: 100%; margin-bottom: 60px;}
			img {
				width: 80px !important; height: 80px !important; margin-right: 20px; max-width: 100%;
				@include respond-to(md) {width: auto !important; margin: 0 0 40px 0;}
				@include respond-to(sm) {margin: 0 0 15px 0;}
			}
			figcaption {
				@include font-type($ms-500, 35px, 42px, -1px);
				@include respond-to(sm) {br {display: none;}}

				span {
					@include font-type($ms-500, 16px, 24px, 0); color: $black;
					width: 180px; 
					display: block; padding-top: 12px;
					@include respond-to(sm) {width: 100%;}
				}
			}
		}

		section {
			width: 56%; padding-left: 120px;  position: relative; top: -8px;
			@include respond-to(lg) {width: 100%;}
			@include respond-to(md) {padding-left: 60px;}
			@include respond-to(sm) {padding-left: 0;}
			p {
				@include font-type($ms-500, 18px, 26px, 0); color: $black;
				position: relative; margin-bottom: 0;
				@include respond-to(md) {padding-top: 20px;}
				@include respond-to(sm) {text-align: center;}
			}
		}

		//FOR JS
		figure {opacity: 0; transition: all .8s;}
		section {
			transform: translateX(150px);
			opacity: 0;
			transition: 0.5s ease-out;
		}

		.active & {
			figure {
				opacity: 1;
			}
			section {
				opacity: 1;
				transform: translateX(0);
			}
		}
		&.left {
			section {
				opacity: 0;
				transform: translateX(-150px); width: 70%;
				@include respond-to(sm) {
				transform: translateX(-75px);
				}
				@include respond-to(xs) {
					transform: translateX(-30px);
				}
			}
		}
		&.right {
			section {
				opacity: 0;
				transform: translateX(150px); width: 70%;
				@include respond-to(sm) {
				transform: translateX(75px);
				}
				@include respond-to(xs) {
				transform: translateX(30px);
				}
			}
		}
	}
	.carousel {
		.navigation, .owl-dots {display: flex; justify-content: center;}
		.navigation, .owl-dots {margin-top: 30px; padding-left: 6px;
			li,  .owl-dot {
				flex-shrink: 0;
				width: 14px; height: 4px; margin: 0 4px; padding: 0;
				background: #d9deea; border-radius: 100px; cursor: pointer;
				&.active {
					background: #4489ff;
					&:hover {cursor: default;}
				}
				&:active {transform: translateY(0);}
				&.active {transform: translateY(0); &:hover {cursor: default;}}
			}
		}
	}
}


// testimonials type 2
.testi {
	&-item {
		@extend .row-start-start; padding-right: 185px;
		header {
			width: 300px; flex-shrink: 0;
			figure {
				width: 180px; height: 180px;
				border-radius: 50%;
				overflow: hidden;
			}
		}
		section {
			width: 100%; padding-top: 17px;
			p {
				color: $black; font-family: $ms-500; font-size: 20px; line-height: 27px; letter-spacing: -0.05px;
				margin-bottom: 20px;
			}
			span {
				color: $brand; font-family: $ms-500; font-size: 16px; line-height: 20px;
			}
		}
	}
	.carousel {

	}
}