{% extends '../../tpl/base.html.twig' %}

{% block header_class %}{% endblock %}

{% block app_class %}en{% endblock %}
{% block preloder_class %}{% endblock %}

{% block body %}
	
	<div class="wr-landings-intro brands">
		<div class="container">
			<div class="landings-intro">
				<h1>Be responsible.<br>Show that you care.</h1>
				<p>If you’re a fashion brand or store, charity activities have never been easier. Sell a part of your stock on our marketplace, drive additional traffic to your website, attract media and prove your social responsibility.</p>
				<ul>
					<li>
						<a href="#" class="btn">Join 285 responsible brands</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="wr-testimonials">
		<div class="container">

			<div class="testi-brands">
				<header>
					<figure>
						<img src="">
					</figure>
				</header>
				<section>
					<p>As for the ladies out there, this career is for you too. I was a single mom at the time when I started learning. Take on something different and something challenging and jump at this wonderful learning opportunity that is free for you to explore. </p>
					<a href="#">– Saadika Alard, New York</a>
				</section>
			</div>

		</div>
	</div>

	<div class="wr-how-works">
		<div class="container">

			<div class="how-works">
				<h2>How it works for brands, stores and celebrities</h2>
				<ul>
					<li>
						<figure>
							<img src="">
						</figure>
						<p>You choose an item from a private seller or a brand in our catalogue of 120,000 items</p>
					</li>
					<li>
						<figure>
							<img src="">
						</figure>
						<p>When you pay for the item, 10% of its cost goes to the charity of your or seller’s choice</p>
					</li>
					<li>
						<figure>
							<img src="">
						</figure>
						<p>The transaction is recorded in Blochchain. Everyone sees where the money went to</p>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<div class="wr-join">
		<div class="container">

			<div class="join">
				<h2>Be responsible.<br>Show that you care.</h2>
				<ul>
					<li>1,900,000 buyers each month</li>
					<li>100% secure and transparent withdrawals</li>
					<li>Stylish branded pages to showcase your stuff</li>
				</ul>
				<a href="#" class="btn">Join 285 responsible brands</a>
			</div>

		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/main-new.js') ~ codeRevisionPostfix }}"></script>
{% endblock %}