// переключалка цветов для лендингов
@import '../views/landings/color-switcher';

//СТИЛИ ДЛЯ ЛЕГДИНГОВ
// кнопочки справа лендинга
.show-onemore {
	color: white; background: #4489FF; letter-spacing: 0;
	padding: 17px 23px 18px 27px; position: absolute; z-index: 2; right: -45px; top: 50%; transform: translateY(-50%);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); border-radius: 100px;
	&:hover {background: #629CFF;}
	i {font-weight: 600; color: white; margin-left: 13px;}

	@include respond-to(1299px) {
		right: 0;
	}
	@include respond-to(lg) {right: 0px;}
	@include respond-to(md) {
		display: block;
		margin: 15px auto 0 auto;
		position: relative; top: auto; right: auto; transform: translateY(0); 
	}
}
.app.index {
	padding-top: 0;
	header.header {
		.logo {padding-top: 17px;}
	}

	
	&.pet .show-onemore {background: #96be46;}
	&.children .show-onemore {background: #E8B194;}
	&.dobro .show-onemore {background: #7A3FBF;}
	&.art .show-onemore, &.fashion .show-onemore {background: #000;}
	&.pet .btn {
		position: absolute; z-index: 1; right: -45px; top: 50%; transform: translateY(-50%);
		background: #96be46; border-color: #96be46;
	}
	&.children .btn {background: #E8B194; border-color: #E8B194; &:hover {color: $white; background: #efc3ac;border-color: #efc3ac;}}
	&.dobro .btn {background: #7A3FBF; border-color: #7A3FBF;}
	&.art .btn, &.fashion .btn {background: #000; border-color: #000;}
	&.art .btn-transparent, &.fashion .btn-transparent {background: transparent; border-color: $white;&:hover {background: $white;}}

	//Секция с выпадающими списками на главной - http://prntscr.com/h2ns22
	.section-group {
		display: flex; justify-content: center;
		@include respond-to(md) {flex-direction: column;}

		.select {
			margin: 0 32px;
			@include respond-to(md) {margin-bottom: 25px; margin-right: 0;}
			sup {font-size: 11px; top: -0.6em; left: -5px;}

			&:last-child {margin-bottom: 0}
			& > a {
				font-size: 18px; letter-spacing: 0;
				i {
					font-size: 16px; color: #000;
				}
			}
		}
	}
}
////////////////////////////////////////////////////
////////////////////////////////////////////////////
// main products
.main {
	&-products, &-news {
		@include respond-to(md) {
			display: flex; flex-direction: column; align-items: center;
		}
	}
	&-products {
		h2 {
			margin-bottom: 10px;
		}
	}
	&-news {
		@include respond-to(sm) {
			padding-bottom: 40px;
		}
	}
	&-pagination {
		display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin: 0 -10px;
		@include respond-to(xs) {
			margin: 0 -7px;
		}
		li {
			flex-shrink: 0;
			text-align: center;
			width: 50px; height: 50px; margin: 10px;
			border-radius: 50px; 
			transition: .4s ease;
			@include respond-to(xs) {margin: 7px; width: 35px; height: 35px;}
			&.active, &:hover {
				background: #fff;
				a {color: #000;}
			}
			&.next {
				width: auto; padding: 0 20px;
				background: #fff; 
				@include respond-to(sm) {padding: 0; width: 50px;}
				@include respond-to(xs) {width: 35px;}
				span {
					@include respond-to(sm) {display: none;}
				}
				i {
					font-weight: 600;
					margin-left: 10px; margin-top: 4px;
					@include respond-to(sm) {margin: 0;}
				}
			}
			a {
				display: flex; align-items: center; justify-content: center;
				@include font-type($title, 16px, 16px, 0.5px); color: #7d8894;
				width: 100%; height: 100%;
				transition: .4s ease;
				@include respond-to(xs) {font-size: 14px;}
			}
		}
	}
}

// INTRO LANDING - http://prntscr.com/h2bdli
.intro {
	section {
		background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.3) 40%,rgba(5,171,224,0) 100%);
		height: 547px; position: relative; overflow: hidden;
		background: url('../img/index/bg.jpg') no-repeat center; background-size: cover;
		.pet & {background-image: url('../img/index/intro2.png');}
		.children & {background-image: url('../img/index/intro1.png');}
		.dobro & {background-image: url('../img/index/intro3.png');}
		.art & {background-image: url('../img/index/art-header.png');}
		.fashion & {background-image: url('../img/index/fashion-header.png');}
		.auction & {
			background: url('../img/index/auction-bg.png') no-repeat right center; background-size: cover;
			height: 420px;
			@media (max-width: 360px) {background: url('../img/index/auction-bg.png') no-repeat -890px center; background-size: cover;}
		}
		.stars & {
			background: url('../img/index/stars-bg.png') no-repeat right center; background-size: cover;
			height: 420px;
			@media (max-width: 360px) {background: url('../img/index/auction-bg.png') no-repeat -890px center; background-size: cover;}
		}

		@include respond-to(md) {height: 600px;}
		
		article {
			display: none; &:first-child {display: block;}

			.container {position: relative;} transition: height .6s;
			width: 100%; height: 100%;

			color: #fff;
			position: absolute; bottom: 0; left: 0;
			

			header {
				padding-left: 102px; margin-top: 143px;
				@include respond-to(md) {padding-left: 0;}
				@include respond-to(xs) {margin-top: 110px;}

				.dobro & {
					padding-left: 199px; margin-top: 228px;
					position: relative;
					@include respond-to(lg) {margin-top: 155px;}
					@include respond-to(md) {padding-left: 100px;}
					@include respond-to(sm) {margin-top: 100px; padding-left: 0;}
				}

				.auction &, .stars & {
					text-align: center;	
					padding-left: 0; margin-top: 134px;
				}

				h1 {
					color: #fff; @include font-type($title, 42px, 56px, -1px); 
					margin-top: 0; margin-bottom: 22px;
					@include respond-to(sm) {font-size: 36px; line-height: 48px;}
					@include respond-to(xs) {font-size: 28px; line-height: 38px;}

					.stars & {
						font-size: 46px; letter-spacing: 0;
					}
				}
				h1 + ul {margin-top: 86px; @include respond-to(sm) {margin-bottom: 42px;}}
				p {
					color: #fff; @include font-type($title, 26px, 32px, 0px); 
					margin-bottom: 86px;
					@include respond-to(sm) {font-size: 20px; line-height: 26px; margin-bottom: 42px;}

					.dobro & {
						margin-bottom: 0; padding-left: 3px; letter-spacing: 0.1px;
					}

					.auction &, .stars & {
						margin-bottom: 26px;
						@include respond-to(xs) {font-size: 16px;}
					}
				}
				h2 {
					color: #fff; @include font-type($title, 62px, 78px, -1px); 
					margin-bottom: 86px;
					@include respond-to(sm) {
						font-size: 40px; line-height: 50px; margin-bottom: 42px;
					}

					.dobro & {
						margin-bottom: 74px; letter-spacing: -1px;
						@include respond-to(sm) {font-size: 34px;}
					}
				}
				a {
					@include font-type($title, 16px, 16px, 0px); color: #fff;
					position: relative;

					.dobro & {
						padding: 18px 25px;
						border: 2px solid white; border-radius: 100px; transition: all .2s;
						&:after {display: none;}
						&:hover {background: white; color: #7A3FBF;}
					}

					.auction & {padding: 18px 22px 16px 24px;}

					i {
						color: #fff; font-size: 17px; font-weight: bold;
						margin-left: 4px;
						position: relative; top: 1px;
						transition: all 0.4s; transform: translateX(0);
					}
						
				}
				& > ul {
					display: flex; 
					@include respond-to(sm) {flex-flow: column nowrap;}

					li {
						margin-right: 40px; &:last-child {margin-right: 0;}
						@include respond-to(sm) {margin-right: 0; margin-bottom: 10px;}
					}
				}
				figure {
					.dobro & {
						position: absolute; top: -17px; left: 60px;
						@include respond-to(md) {left: 0;}
						@include respond-to(sm) {position: static; margin-bottom: 30px;}
					}
				}
			}

			footer {
				position: absolute; top: 180px; right: 25px;
				@include respond-to(md) {right: 10px; top: 105px;}
				@include respond-to(sm) {position: static; padding-top: 60px;}

				.dobro & {
					display: flex; justify-content: center; align-items: center;
					width: 195px; height: 195px; top: 97px; right: 17px; padding-top: 4px; padding-left: 28px;
					background: url('../images/dobro-duga.svg') no-repeat center;
					@include respond-to(lg) {position: relative; float: right; top: -41px;}
					@include respond-to(md) {top: -110px;}
					@include respond-to(sm) {position: absolute; top: 77px}
				}

				p {
					color: #fff; @include font-type($text, 26px, 26px, 0px); text-transform: uppercase; font-weight: bold;
					position: relative;

					.dobro & {
						font-family: $title; font-size:32px;
						margin-bottom: 0;
					}
					span {
						position: relative; display: block; margin-bottom: 5px;
						@include font-type($title, 18px, 18px, 0); text-transform: none;
						@include respond-to(sm) {
							display: flex; align-items: center;
						}

						.dobro & {
							font-size: 16px; line-height: 18px;
							display: block; margin-bottom: 8px; position: relative; top: auto; left: 1px;
						}

						i {
							position: absolute; left: -26px; top: -1px;
							@include respond-to(sm) {
								position: relative; left: 0; top: 0; margin-right: 10px;
							}
						}
					}
				}
			}
		}
	}

	nav {
		margin-top: -32px; background: white;
		@include respond-to(lg) {
			padding: 0 15px;
		}

		& > ul {
			display: flex; justify-content: space-between; align-items: stretch;
			width: 984px; height: 64px; margin: 0 auto;
			position: relative; z-index: 2;
			background: #fff; border-radius: 100px; box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
			@include respond-to(sm) {
				width: 100%;
			}

			li {
				height: 100%; width: 26.3%;
				position: relative; z-index: 1;
				@include respond-to(sm) {width: 100%; height: 64px;}
				&.decoration, &:nth-child(2) {
					width: 24.6%;
					@include respond-to(sm) {width: 100%; height: 64px;}
					a {
						justify-content: start;
						padding-left: 50px;
						i {right: 24px}
					}
				}

				
				a, i {transition: color 1s ease, padding .2s linear;}
				a {
					color: #4489FF; font-family: $title; font-size: 18px; line-height: 18px; text-align: center; letter-spacing: 0;
					display: flex; justify-content: center; align-items: center;
					width: 100%; height: 100%; padding-right: 50px; padding-left: 32px;
					position: relative;
					span {
						transition: color 0.4s ease;
						.pet & {color: #96be46;}
						.children & {color: #E8B194;}
					}
					i {
						color: #4489FF; font-size: 30px;
						position: absolute; right: 0; top: 16px;
						transition: color 0.4s ease;
						.pet & {color: #96be46;}
						.children & {color: #E8B194;}
						.art &, .fashion & {color: #000;}
					} 
				}
				&:last-child { width: 22.6%; a {padding-right: 0 !important; i {display: none;}}}

				&.hovered {
					a span, a, i {
						color: white;
						.pet &, .children &, .art &, .fashion & {color: white;}
					}
				}
				&.decoration {
					height: 100%;
					position: absolute; top: 0; bottom: 0;
					background: #4489FF; border-radius: 100px;
					transition: width .4s ease;
					.pet & {background: #96be46;}
					.children & {background: #E8B194;}
					.art &, .fashion & {background: #000;}
				}
			}
		}
		@include respond-to(lg) {
			& > ul {width: 100%; li {width: 25%; a {padding-right: 20px;} &.selectedLava {a {padding-right: 20px;}}}}
		}
		@include respond-to(sm) {
			margin-top: 25px;

			& > ul {
				border-radius: 0; width: 120px; height: 10px; box-shadow: none;
					li {
						width: 25% !important; height: 100% !important;
						&.decoration {display: none;}

						a {
							padding: 0 !important; display: block; 
							width: 19px; height: 8px; margin: 0 5px;
							background: #d9deea; border-radius: 10px;
							span {display: none;}
							i {display: none;}
						}

						&.hovered {
							a {background: #4489FF;}
						}

					}
	
			}
		}
	}

}

.intro-new {
	& > section {
		background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.3) 40%,rgba(5,171,224,0) 100%);
		height: 750px; position: relative; overflow: hidden;
		background: url('../img/index/bg.jpg') no-repeat center; background-size: cover;
		@include respond-to(xs) {height: 575px;}
		
		article {
			display: flex; justify-content: space-between;

			transition: height .6s, opacity .4s ease-out;
			width: 100%; padding: 143px 15px 0; min-height: 570px;

			color: #fff;
			position: absolute; top: 0; left: 0;
			opacity: 0; pointer-events: none;
			@include respond-to(md) {
				flex-wrap: wrap;
			}
			@include respond-to(xs) {
				min-height: 500px; padding-top: 105px;
			}

			&.active {
				opacity: 1; pointer-events: auto;
			}
			

			header {
				max-width: 50%;
				@include respond-to(md) {max-width: none; width: 100%; margin-bottom: 50px;}
				@include respond-to(sm) {
					margin-bottom: 30px;
				}
				.main-landing & {
					padding-left: 0; margin-top: 176px;
				}
				.auction &, .stars & {
					text-align: center;	
					padding-left: 0; margin-top: 134px;
				}

				hgroup {
					& > * {
						&:last-child {
							margin-bottom: 0;
						}
					}
					&:last-child {
						margin-bottom: 0;
					}
					h2 {
						color: #fff; @include font-type($title, 74px, 70px, -1px); 
						margin-bottom: 20px;
						@include respond-to(sm) {
							font-size: 58px; line-height: 54px;
						}
						@include respond-to(xs) {
							font-size: 40px; line-height: 44px;
						}
					}
					h3 {
						color: #fff; @include font-type($title, 44px, 48px, -1px); 
						@include respond-to(sm) {
							font-size: 28px; line-height: 38px;
						}
						@include respond-to(xs) {
							font-size: 20px; line-height: 26px;
						}
					}
				}
				p {
					@include font-type($title, 26px, 32px, 0px); 
					margin-bottom: 86px;
					@include respond-to(sm) {font-size: 20px; line-height: 26px; margin-bottom: 42px;}
					@include respond-to(xs) {margin-left: -10px;}

					.auction &, .stars & {
						margin-bottom: 26px;
						@include respond-to(xs) {font-size: 16px;}
					}
				}
			}

			footer {
				display: flex; flex-direction: column; align-items: flex-end; justify-content: space-between;
				@include respond-to(md) {
					width: 100%; align-items: flex-start; justify-content: flex-end;
				}
				p {
					@include font-type($text, 26px, 26px, 0px); color: #ffffff; text-transform: uppercase; font-weight: bold;
					position: relative;
					@include respond-to(md) {
						margin-bottom: 30px; padding-left: 26px;
					}
					span {
						position: relative; left: -26px; display: block;
						@include font-type($title, 18px, 25px, 0); text-transform: none;
						i {margin-right: 11px;}
					}
				}
				a {

				}
			}
		}
	}

	nav {
		margin-top: -32px; background: white;
		@include respond-to(lg) {
			padding: 0 15px;
		}

		& > ul {
			display: flex; justify-content: space-between; align-items: stretch;
			width: 984px; height: 64px; margin: 0 auto;
			position: relative; z-index: 2;
			background: #fff; border-radius: 100px; box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
			@include respond-to(sm) {
				width: 100%;
			}

			li {
				height: 100%; width: 26.3%;
				position: relative; z-index: 1;
				@include respond-to(sm) {width: 100%; height: 64px;}
				&.decoration, &:nth-child(2) {
					width: 24.6%;
					@include respond-to(sm) {width: 100%; height: 64px;}
					a {
						justify-content: start;
						padding-left: 50px;
						i {right: 24px}
					}
				}

				
				a, i {transition: color 1s ease, padding .2s linear;}
				a {
					display: flex; justify-content: center; align-items: center;
					color: #4489FF; font-family: $title; font-size: 18px; line-height: 18px; text-align: center;
					width: 100%; height: 100%; padding-right: 50px; padding-left: 32px;
					position: relative;

					span {
						transition: color 0.4s ease;
					}

					i {
						color: #4489FF; font-size: 30px;
						position: absolute; right: 0; top: 16px;
					} 
				}
				&:last-child { width: 22.6%; a {padding-right: 0 !important; i {display: none;}}}

				&.hovered {a, i, a span {color: white;}}
				&.decoration {
					height: 100%;
					position: absolute; top: 0; bottom: 0;
					background: #4489FF; border-radius: 100px;
					transition: width .4s ease;
				}
			}
		}
		@include respond-to(lg) {
			& > ul {width: 100%; li {width: 25%; a {padding-right: 20px;} &.selectedLava {a {padding-right: 20px;}}}}
		}
		@include respond-to(sm) {
			margin-top: 25px;

			& > ul {
				border-radius: 0; width: 120px; height: 10px; box-shadow: none;
					li {
						width: 25% !important; height: 100% !important;
						&.decoration {display: none;}

						a {
							padding: 0 !important; display: block; 
							width: 19px; height: 8px; margin: 0 5px;
							background: #d9deea; border-radius: 10px;
							span {display: none;}
							i {
								display: none;
								// top: 0; right: auto; left: 50% !important; transform: translateX(-50%);
							}
						}

						&.hovered {a {background: #4489FF;}}

						// &:last-child a i {display: block;}
					}
				// flex-direction: column;
				// width: 100%; height: auto; border-radius: 10px;
				// li {
				// 	width: 100% !important; height: 64px;
				// 	&.decoration {display: none;}
				// 	&.hovered {background: #4489FF;}
				// 	&:first-child {
				// 		a {justify-content: center;}
				// 	}
				// 	&:nth-child(2)  {
				// 		padding: 0;
				// 		a {justify-content: center; padding-left: 0;}
				// 	}
				// 	&:last-child {
				// 		a {
				// 			i {display: block;}
				// 		}
				// 	}
				// 	a {
				// 		color: #4489FF; flex-direction: column; align-items: center;
				// 		padding: 0;
				// 		i {
				// 			right: 24px;
				// 			transform: rotate(90deg);
				// 		}
				// 	}
					
				// }
			}
		}
	}

	

	.fashion &, .art & {
		nav > ul li {
			&.decoration {background: #000; color: #fff;}
			&.hovered {a, i {color: white;}}
			a, i {color: #000;}
			@include respond-to(sm) {&.hovered {a {background: #000;}}}
		}
		//@include respond-to(sm) {nav > ul {li {a {background: #E8B194;}}}}
	}

	.fashion & {
		& > section {
			background: url('../img/index/fashion-header.png') no-repeat center top; background-size: cover;
		}
	}
	.art & {
		& > section {
			background: url('../img/index/art-header.jpg') no-repeat right center; background-size: cover;
			@include respond-to(xs) {background: url('../img/index/art-header.jpg') no-repeat 85% center; background-size: cover;}
		}
	}
}

//LANDINGS LISTS
.list {
	//Promotion - http://prntscr.com/h2dye8
	&-promotion {
		display: flex; justify-content: space-around;
		margin: 0px -7px 0 -9px;
		@include respond-to(md) {flex-wrap: wrap;}

		li {
			width: 50%;
			@include respond-to(xs) {width: 100%;}

			&:nth-child(2), &:nth-child(3) {
				p {left: 10px;}
			}

			article {
				@extend .promotion;
			}
			a {
				&:hover {
					article {
						header {
							p {
								i {
									left: -15px;
								}
							}
						}
						section {
							p {
								color: $brand;
							}
						}
					}
				}
			}

			.dobro & {
				@include respond-to(sm) {width: 100%;}	
			}
		}
	
	}

	//EVENTS - http://prntscr.com/hbt0f3
	&-events {
		display: flex;
		@include respond-to(xs) {margin: 0;}
		li {
			background: #fff;
			a:hover {box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);}
			article {padding: 20px;}
			hgroup {
				margin-bottom: 30px;
				h4 {@include font-type($title, 54px, 1, 0.3px); color: #323232;}
				h5 {@include font-type($title, 16px, 1, 0.3px); color: #323232;}
			}
			section {
				h4 {@include font-type($title, 22px, 32px, 0.3px); color: #000; margin-bottom: 10px;}
				p {@include font-type($text, 16px, 24px, 0.7px); color: #000;}
			}

		}
	}

	//Секция со списком людей - http://prntscr.com/hbm7rz
	&-people {
		display: flex; flex-flow: wrap; padding-top: 34px;

		li {
			width: 33.33333%; margin-bottom: 33px; padding-left: 97px; padding-right: 15px;
			&:last-child {margin-bottom: 0;}
			@include respond-to(md) {
				width: 50%; padding-left: 15px;
			}
			@include respond-to(xs) {width: 100%; padding: 0;}
			figure {
				display: flex; align-items: center;
				margin-bottom: 0;
				img {flex-shrink: 0; width: 59px; height: 59px; border-radius: 50%; overflow: hidden; }
				figcaption {
					@extend .title-bold-primary; 
					color: #000; text-transform: none; font-size: 18px; letter-spacing: 0.4px;
					margin-left: 20px;
				}
			}
		}
	}

	//http://prntscr.com/hha5hu
	&-auction {
		display: flex; flex-wrap: wrap;
		margin: 0 -10px;
		@include respond-to(xs) {
			margin: 0;
		}
		& > li {
			width: calc(33.33333% - 20px); margin: 0 10px 20px 10px;
			background: #fff;
			@include respond-to(sm) {width: calc(50% - 20px);}
			@include respond-to(xs) {width: 100%; margin: 0 0 20px 0;}
			&:hover {box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); }

			article {
				@extend .preview-auction;
			}
		}
	}
}

.auction-wrapp {
	padding: 27px 0;
    background: #F3F6FA;
    .pagination-block {
    	padding: 10px 0 0 0;
    }
}

//PROMOTION - http://prntscr.com/h4biip
.promotion {
	header {
		display: flex; justify-content: center;
		padding-top: 30px; margin-bottom: 15px;

		p {
			color: #000; text-align: center;
			position: relative; left: 14px; margin-bottom: 13px;

			@include font-type($title, 64px, 1, 0px);

			& > i {
				color: $brand; font-size: 24px; font-weight: 600;
				position: absolute; top: 25px; left: -19px;
				transition: 0.3s ease-out;
				.pet & {color: #96be46;}
				.children & {color: #E8B194;}
				.art &, .fashion & {color: #000;}
			}
			span {
				@include font-type($title, 18px, 1, 0px);
				position: relative; top: 11px; display: inline-block; vertical-align: top;
				
				i {color: #000; font-size: 15px; font-weight: 600;}
			}
		}
	}
	section {
		p {
			@include font-type($HelveticaR, 16px, 22px, 0.5px); text-align: center; color: #000;
			margin-bottom: 0;
			transition: 0.3s ease-out;
		}
	}
}


// http://prntscr.com/hdq8sj
.counter {
    padding: 35px 0 37px; background: #fff;

    .dobro & {
    	padding: 33px 0 50px 0;
    	background: #7A3FBF url('../images/bg-plus.svg') 0 0 no-repeat; background-size: cover;
    	
		article p,
    	article section p,
    	article header p i {color: white;}
    	article header p {font-size: 84px; line-height: 84px;}
    }
}

//разделитель -  http://prntscr.com/hdonwo
.separator {
	clear: both; display: block; width: 100%; height: 1px; margin: 20px 0 40px 0;
	background: #e5e5e5;
}


// ADS in Index - http://prntscr.com/h2fk7d
.ads {
	display: flex; height: 596px;
	@include respond-to(lg) {height: 475px;}
	@include respond-to(md) {flex-direction: column; height: auto; overflow: visible;}

	div {
		width: 50%;
		@include respond-to(md) {
			width: 100%;
		}
	}
	header, footer {
		width: 100%; height: 50%;
		section {
			h2 {
				@include font-type($title, 38px, 40px, -1px);
				margin-bottom: 17px;
				@include respond-to(lg) {font-size: 32px; line-height: 38px;}

				@include respond-to(sm) {font-size: 30px; line-height: 38px;}
				@include respond-to(xs) {font-size: 22px; line-height: 20px; margin-bottom: 15px;}
			}
		}
	}
	article {
		width: 100%; height: 100%; position: relative;
		transition: all .4s ease;
		overflow: hidden;
		@include respond-to(lg) {
			overflow: hidden;
		}
		@include respond-to(md) {
			overflow: visible;
		}
		&:hover {
			box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05); z-index: 2;
			@media (max-width: 1249px) {box-shadow: none;}
		}
	}

	figure {
		height: 100%;
		img {
			min-height: 100%; min-width: 100%;
			@include respond-to(lg) {
				min-width: 0; min-height: 0; width: 100%;
			}
		}
	}

	section {
		padding-left: 50px; padding-bottom: 45px; position: absolute; left: 0; bottom: 0;
		@include respond-to(md) {padding-left: 35px;}
		@include respond-to(sm) {padding-bottom: 25px;}
		@include respond-to(xs) {padding-left: 20px;}

		h2 {
			@include font-type($title, 54px, 56px, -1px); color: #fff;
			margin-bottom: 24px;
			i {
				font-size: 24px; position: relative; bottom: 5px; right: -2px;
				@include respond-to(md) {bottom: 0;}
				@include respond-to(sm) {bottom: -2px;}
			}
			@include respond-to(xs) {font-size: 32px; line-height: 34px;}
		}
		p {
			@include font-type($title, 18px, 24px, 0); color: #fff;
			margin-bottom: 0;
		}
	}

	header {
		position: relative;
		@include respond-to(lg) {
			height: 50%;
		}
		article {width: 100%; height: 100%;}
		section {
			padding-bottom: 40px; padding-left: 39px;
			@include respond-to(md) {padding-left: 35px;}
			@include respond-to(sm) {padding-bottom: 25px;}
			@include respond-to(xs) {padding-left: 20px;}

			h2 {
				i {
					right: -3px; 
					@include respond-to(md) {bottom: 0;}
				}
			}
		}
	}
	footer {
		display: flex; justify-content: space-between;
		@include respond-to(lg) {
			height: 50%;
		}
		@include respond-to(xs) {flex-direction: column;}

		div {
			width: 50%;
			@include respond-to(xs) {
				width: 100%;
			}
		}

		article {

			section {
				padding-left: 37px; padding-bottom: 32px;
				@include respond-to(lg) {padding-left: 20px; padding-bottom: 30px;}
				@include respond-to(md) {padding-left: 35px;}
				@include respond-to(sm) {padding-bottom: 25px;}
				@include respond-to(xs) {padding-left: 20px;}
				h2 {
					margin-bottom: 14px;
					i {
						right: -4px;
					}
				}
			}
		}
	}
}

// - http://prntscr.com/h2q6m0
.landing-category {
	display: flex; justify-content: space-between; position: relative;
	@include respond-to(md) {flex-direction: column; a.btn-white {width: auto !important;}}

	&-block {
		&.first {
			width: 680px;
			@include respond-to(lg) {width: 57%;}
			@include respond-to(md) {width: 100%; margin: 0 auto 20px auto;}
		}
		&.second {
			width: 480px;
			@include respond-to(lg) {width: 40.2%; margin: 0 auto;}
			@include respond-to(md) {width: 100%; margin: 0 auto;}
			section {}
		}
		& > a {
			position: relative; display: inline-block; width: 100%;
			transition: all .4s ease;
			&:hover {box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2)}

			section {
				display: flex; flex-direction: column; justify-content: flex-end;
				position: absolute; left: 0; right: 0; top: 0; bottom: 0; padding-left: 50px; padding-bottom: 47px;
				@include respond-to(xs) {padding-left: 20px; padding-bottom: 20px;}

				h2 {
					@include font-type($title, 54px, 58px, 0); color: #fff;
					margin-bottom: 14px;
					@include respond-to(sm) {font-size: 40px}
					@include respond-to(xs) {font-size: 30px; line-height: 44px; margin-bottom: 10px;}
					i {
						font-size: 24px; font-weight: 600; position: relative; bottom: 8px; right: -6px;
						@include respond-to(md) {bottom: 0;}
					}
				}

				p {
					@include font-type($title, 22px, 22px, 0); color: #fff; padding-left: 3px;
					@include respond-to(sm) {font-size: 18px;}
				}
				
			}
			figure {
				img {
					max-width: 100%;
					@include respond-to(md) {width: 100%;}
				}
			}
		}
	}

	.show-onemore {
		@include respond-to(lg) {
			right: -15px;
		}
		@include respond-to(md) {
			right: auto;
		}
	}
}

//Список фильтров - http://prntscr.com/hdpn4y
.home_filter {
	padding: 0 0 35px 0; background: white;
	h2 {color: #000000; font-family: $title; font-size: 38px; line-height: 39px; text-align: center; margin-bottom: 15px;}
}

//Блок с акциями - http://prntscr.com/hdpnpp
.action {
	display: flex; flex-direction: column; justify-content: flex-end;
	width: 100%; min-height: 422px; padding: 0 0 60px 45px;
	background: url('../img/index/pet-action.png') no-repeat center; background-size: cover;
	.children & {background-image: url('../img/index/children-action.png');}
	@include respond-to(xs) {padding: 0 15px 60px 15px;}

	h2 {
		display: flex; align-items: center;

		@include font-type($title, 54px, 1, 0); color: #fff;  
		/*для хрома*/margin-top: auto;/**/ margin-bottom: 25px;
		@include respond-to(xs) {font-size: 30px; line-height: 38px;}
		i {
			font-size: 27px; font-weight: bold;
			margin-left: 21px; margin-top: 7px;
		}
	}
	p {
		@include font-type($title, 22px, 32px, 0); color: #fff;
		margin-bottom: 0; padding-left: 3px;
		@include respond-to(xs) {font-size: 16px; line-height: 26px;}
	}
}
.megasale {
	img {
		width: 100%;
	}
}

//http://prntscr.com/hdpr74
.about {
	article {
		display: flex; justify-content: space-between;
		@include respond-to(md) {
			flex-direction: column; align-items: center;
			width: 666px;
		}
		@include respond-to(sm) {width: 100%;}

		header {
			flex-shrink: 0;
			width: 424px; height: 424px; padding-top: 150px; position: relative;
			@include respond-to(md) {margin-bottom: 20px;}
			@include respond-to(xs) {
				width: 300px; height: 300px; padding-top: 25px;
				background-size: cover;
			}
			&:after {
				content: '';
				display: block; position: absolute; left: 0; top: 0;right: 0; bottom: 0; transform: rotate(-45deg);
				border: solid 4px #eee2fb; border-right-color: transparent; border-radius: 50%;
			}
			.logos {
				display: flex; align-items: center; justify-content: space-between;
				width: 82%; margin: 0 auto 13px auto;
				@include respond-to(xs) {flex-direction: column;}

				figure {
					&:first-child {
						padding-left: 9px; position: relative; top: -6px;
						@include respond-to(xs) {top: 0; padding-left: 23px;}
					}
					&:nth-child(2) {
						position: relative; top: -4px; left: 2px;
						@include respond-to(xs) {
							top: 0; left: 0; margin: 10px 0 13px 0;
						}
					}
					&:last-child {
						padding-top: 13px;
						@include respond-to(xs) {padding-top: 0;}
					}
				}
			}
			p {
				@include font-type($title, 17px, 26px, 0); color: #515c6e; text-align: center;
				width: 100%; padding-left: 22px;
				@include respond-to(xs) {
					font-size: 15px; line-height: 23px;
					padding-left: 0;
				}
			}
		}

		section {
			padding-left: 56px; padding-top: 38px; width: 64%;
			@include respond-to(lg) {padding-right: 20px;}
			@include respond-to(md) {width: 100%; padding-left: 0;}
			@include respond-to(xs) {padding-right: 0;}

			h2 {
				color: #64359C; @include font-type($title, 28px, 38px, 0px); margin-bottom: 29px;
				@include respond-to(xs) {font-size: 20px; line-height: 28px;}
				br {
					@include respond-to(xs) {display: none;}
				}
			}
			p {
				color: #000000; @include font-type($text, 18px, 26px, 0.8px); margin-bottom: 45px;
				@include respond-to(xs) {font-size: 16px; line-height: 24px;}
			}
			ul {
				display: flex; align-items: center;
				@include respond-to(xs) {flex-direction: column; align-items: start;}
				li {
					margin-right: 43px;
					@include respond-to(xs) {margin-right: 0; margin-bottom: 25px;}

					&:last-child {
						margin-right: 0;
						@include respond-to(xs) {margin-bottom: 0;}
					}

					a {
						color: #64359C; @include font-type($title, 18px, 19px, 0px);
						position: relative;

						i {transition: all 0.4s; transform: translateX(0);}

						&:after {
							content: '';
							position: absolute; top: 100%;
							border-bottom: 1px solid #7A3FBF;
							transition: all 0.4s;
						}
						&:after {right: 100%; left: 0;}
						&:hover:after {right: 0;}
						&:hover i {transform: translateX(5px);}
					}
				}
			}
		}
	}
}

//http://prntscr.com/h4c80l
.members {
	padding-bottom: 40px; position: relative;
	@include respond-to(1299px) {
		padding-right: 80px;
	}
	@include respond-to(lg) {
		padding-right: 0;
	}
	.show-onemore {
		display: flex; justify-content: center; align-items: center;
		width: 50px; height: 50px; padding: 0;

		i {margin-left: 0 !important;}
	}
	ul {
		display: flex;
		li {
			// margin-right: 19px; 
			// &:last-child {margin-right: 0;}
			a {
				display: inline-block; width: 100%;
				background: #fff;
				transition: all .4s ease;
				&:hover {
					box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
				}
			}
			@include respond-to(xs){text-align: center;}
		}
	}
}

.testimonials {
	&-item {
		display: flex; justify-content: start;
		width: 100%; padding-left: 102px; padding-top: 5px;
		@include respond-to(lg) {padding-left: 40px;}
		@include respond-to(sm) {flex-direction: column; padding-left: 0;}

		figure {
			display: flex;
			text-align: left;
			@include respond-to(md) {flex-direction: column; justify-content: center; align-items: flex-start; }
			@include respond-to(sm) {align-items: center; text-align: center; width: 100%; margin-bottom: 60px;}
			img {
				width: 80px !important; height: 80px !important; margin-right: 20px; max-width: 100%;
				@include respond-to(md) {width: auto !important; margin: 0 0 40px 0;}
				@include respond-to(sm) {margin: 0 0 15px 0;}
			}
			figcaption {
				@include font-type($title, 34px, 40px, -1px);
				@include respond-to(sm) {br {display: none;}}

				span {
					@include font-type($title, 18px, 24px, 0.5px); color: #4b5769 !important;
					width: 180px; 
					display: block; padding-top: 12px;
					@include respond-to(sm) {width: 100%;}
				}
			}
		}

		section {
			width: 56%; padding-left: 120px;  position: relative; top: -8px;
			@include respond-to(lg) {width: 100%;}
			@include respond-to(md) {padding-left: 60px;}
			@include respond-to(sm) {padding-left: 0;}
			p {
				@include font-type($HelveticaM, 19px, 28px, 0.3px); color: #4b5769; font-family: $text;
				position: relative; margin-bottom: 0;
				@include respond-to(md) {padding-top: 20px;}
				@include respond-to(sm) {text-align: center;}
			}
		}

		//FOR JS
		figure {opacity: 0; transition: all .8s;}
		section {
			transform: translateX(150px);
			opacity: 0;
			transition: 0.5s ease-out;
		}

		.active & {
			figure {
				opacity: 1;
			}
			section {
				opacity: 1;
				transform: translateX(0);
			}
		}
		&.left {
			section {
				opacity: 0;
				transform: translateX(-150px); width: 70%;
				@include respond-to(sm) {
				transform: translateX(-75px);
				}
				@include respond-to(xs) {
					transform: translateX(-30px);
				}
			}
		}
		&.right {
			section {
				opacity: 0;
				transform: translateX(150px); width: 70%;
				@include respond-to(sm) {
				transform: translateX(75px);
				}
				@include respond-to(xs) {
				transform: translateX(30px);
				}
			}
		}
	}
}

.people {
	article {
		display: flex;
		@include respond-to(md) {flex-direction: column;}

		header {
			width: 35%; padding-right: 15px;
			@include respond-to(lg) {padding-right: 0;}
			@include respond-to(md) {width: 100%; margin-bottom: 20px;}

			h2 {
				color: #000000; @include font-type($title, 38px, 39px, 0px); margin-bottom: 40px;
				@include respond-to(xs) {font-size: 36px; line-height: 37px;}

				.dobro & {
					line-height: 46px; 
					padding-top: 21px; margin-bottom: 43px;
				}
			}
			p {
				color: #000000; @include font-type($title, 18px, 26px, 0.4px);
				@include respond-to(xs) {font-size: 16px; line-height: 24px;}
				.dobro & {@include font-type($text, 18px, 26px, 1px);}
			}
		}

		section {
			width: 65%; padding-top: 5px; padding-left: 15px;
			@include respond-to(lg) {padding-left: 0;}
			@include respond-to(md) {width: 100%;}

			.one_item {width: 170px; margin: 0 auto;}

			figure {
				text-align: center; margin-bottom: 20px; &:last-child {margin-bottom: 0;}
				img {width: 140px !important; display: inline-block !important;}
				figcaption {
					padding-top: 12px;
					p {color: #000000; @include font-type($title, 16px, 24px, 0px); margin-bottom: 3px;}
					span {color: #000000; @include font-type($title, 12px, 16px, 0px); display: block; opacity: 0.7;}
				}
			}

			.owl-carousel {
				.owl-nav {
					position: absolute; left: 0; top: 50%; transform: translateY(-50%);
					@extend .row-between-center; width: 100%;
					.owl-prev, .owl-next {
						padding: 5px;
					}
				}
			}
		}
	}
}

//Блок "Присоединиться" - http://prntscr.com/hbojdz 
.join {
	height: 600px; width: 100%; padding-top: 94px;
	background: url(../img/index/join-bg-fashion.png) no-repeat; background-size: cover;
	.art & {background-image: url(../img/index/join-bg-art.png);}
	.fashion & {background-image: url(../img/index/join-bg-fashion.png);}
	header {
		text-align: center;
		margin-bottom: 30px; padding-left: 22px;
		@include respond-to(md) {padding-left: 0;}

		h4, p {color: #fff;}
		h4 {
			@include font-type(
				$title, 44px, 52px, 1.1px);
				margin-bottom: 50px;
				@include respond-to(xs) {font-size: 32px; line-height: 42px;}
		}
		p {
			@include font-type($HelveticaNL, 28px, 40px, 1.1px);
			@include respond-to(sm) {font-size: 24px; line-height: 36px;}
			@include respond-to(xs) {font-size: 18px; line-height: 28px;}
		}
	}
	.form {
		display: flex; flex-direction: column; align-items: center;
		width: 560px;
		@include respond-to(sm) {width: 100%; padding: 0 15px;}
		.wr-input, input {width: 100%;}
		input {color: #000; background: #fff;}
		label {color: #000;}
		.btn {
			&:hover {background: #000; color: #fff;}
		}
	}
}

//http://prntscr.com/h4cg2c
.subscription {
	padding: 75px 0; background: white;

	h2 {
		@include font-type($title, 34px, 51px, 0.3px); text-align: center;
		margin-bottom: 16px;
		@include respond-to(sm) {font-size: 28px; line-height: 42px;}
		@include respond-to(xs) {font-size: 24px; line-height: 34px;}
	}

	.form {
		display: flex; flex-direction: column; align-items: center;
		& > span {
			margin-bottom: 5px;
			@include respond-to(sm) {width: 100%;}

			input {
				letter-spacing: 0.6px; width: 580px;
				@include respond-to(sm) {width: 100%;}
			}
		}
		
		.btn {
			display: block; width: 203px; padding: 20px; text-align: center; cursor: pointer;
			transition: all .4s ease;
			.pet &, .children &, .dobro &, .art &, .fashion &{
				&:hover {background: #fff;}
			}
			.pet & {
				background: #96be46; border-color: #96be46;
				&:hover {color: #96be46;}

			}
			.children & {
				background: #E8B194; border-color: #E8B194;
				&:hover {color: #E8B194;}
			}
			.dobro & {
				background: #7A3FBF; border-color: #7A3FBF;
				&:hover {color: #7A3FBF;}
			}
			.art &, .fashion & {
				background: #000; border-color: #000;
				&:hover {color: #000;}
			}
		}
	}
}

// http://prntscr.com/hwbf65
.joined {
	padding-bottom: 40px;
	@include respond-to(sm) {
		display: flex; flex-direction: column; align-items: center;
	}
	h2 {
		padding-top: 11px; margin-bottom: 50px;
	}

	.owl-carousel {
		.owl-nav {
			display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%);
			.owl-prev {
				display: none;
			}
			.owl-next {
				color: $white; text-align: center;
				padding: 15px 5px 5px 8px; width: 50px; height: 50px;
				background: $brand; border-radius: 50%;

				.pet & {
					background: #96be46;
				}
				.children & {
					background: #E8B194;
				}
				.dobro & {
					background: #7A3FBF;
				}
				.art &, .fashion & {
					background: #000;
				}
			}
		}
	}

	// .btn {
	// 	position: absolute; right: -45px; top: 50%; transform: translateY(-50%); z-index: 2;
	// 	@include respond-to(1299px) {
	// 		right: 0;
	// 	}
	// 	@include respond-to(sm) {
	// 		position: relative; top: 0; transform: none; margin-top: 15px;
	// 	}
	// }
}

// http://prntscr.com/hwbltc
.people-block {
	h2 {
		font-size: 44px; line-height: 65px; text-align: center;
		margin-bottom: 50px;
	}
}

.auction {
	&-filter {
		h2 {
			font-size: 24px; font-family: $title; line-height: 28px; letter-spacing: 0px;
			margin-bottom: 0;
			sup {
				font-size: 15px;
				position: relative; top: -11px; right: 4px;
			}
		}
	}
}