// BREADCRUMBS – http://prntscr.com/gg229x
.breadcrumbs {

	@include font-type($text, 12px, 1, 0.5px); color: #89a1b3;
	display: flex; justify-content: space-between; padding: 7px 0px 2px; position: relative;
	@include respond-to(sm) {
		flex-direction: column; align-items: flex-start;
		padding: 7px 0 2px;
		background: #fff;
	}
	&:after {
		content: '';
		display: block; width: 10000px; height: 1px; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);
		background: #eff3f5;
	}

	ul {
		li {
			display: inline-block;
			@include respond-to(sm) {&:first-child {margin-left: 0;}}
		}

		&.navigation {

			li {
				line-height: 28px;
				position: relative; padding: 0 10px 0 0; margin-right: 10px;
				@include respond-to(sm) {
					line-height: 18px;
				}

				&:after {content: '/'; position: absolute; right: -5px;}

				&:last-child {
					padding-right: 0; margin-right: 0;
					&:after {display: none;}
				}
				
				a {
					color: #4b5769; font-size: 9px; font-family: $text; line-height: 24px; text-transform: uppercase; letter-spacing: 1.3px;
					display: inline-block;
					@include respond-to(sm) {
						line-height: 16px;
					}
					&:after {
						content: '';
						position: absolute;
						border-bottom: 1px solid $brand;
						top: 100%; right: 100%; left: 0;
						transition: all 0.4s;
					}
					&:hover{
						text-decoration: none;
						&:after {right: 0;}
					}
				}
			}
		}
	}
}