.btn {
	display: inline-flex;
	border: none; outline: none; vertical-align: baseline; color: $white; @extend .title-bold-primary; 
	margin: 0; padding: $size-base $size-l/2; 
	background: $brand; border: solid 1px $brand; border-radius: $size-xl;
	&-primary, &-secondary, &-empty {@extend .btn;}

	&-primary {}
	&-secondary {color: $brand; background: $white; border: solid 1px $brand;}
	&-empty {}

	&:hover {
		color: #4489ff;
		background: #fff;
	}

	&.shadow {
		box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
	}

	&.white {
		@include font-type($title, 16px, 20px, 0.5px); color: #000;
		background: #fff; border-color: #fff; cursor: pointer;
		&:hover {
			color: #fff; 
			background: $brand;
		}
	}
	&.black {
		color: #fff;
		background: #000; border-color: #000;
		&:hover {
			color: #000; 
			background: #fff;
		}
	}


	&-reserve {
		display: flex; align-items: center;

		// @include font-type($title, 16px, 80px, 0);
		height: 80px; 
		background: #fff; box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); border-radius: 40px;
		transition: .4s all ease;

		&:hover {
			background: #f4f7fb;
		}
	}

	&-transparent {
		@extend .btn;
		background: transparent; border-color: #ffffff; border-width: 2px;
		&:hover {
			color: #000000;
			background: #ffffff;
		}
		&:focus {
			background: transparent;
			&:hover {
				color: #000000;
				background: #ffffff;
			}
		}
	}

	&-donation {
		color: #000;
		display: flex; align-items: center;
		transition: .4s all ease;
		&:hover {
			color: $link-color;
		}

		p {@include font-type($title, 16px, 1, 0);}
		i {margin-left: 15px;}
	}

	&-showmore {
		color: white; background: #4489FF;
		padding: 21px 23px 22px 27px; position: absolute; z-index: 2; right: -45px; top: 50%; transform: translateY(-50%);
		box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); border-radius: 100px;
		&:hover {background: #629CFF;}
		i {font-weight: 600; color: white; margin-left: 12px;}

		@include respond-to(1299px) {
			right: 0;
		}
		@include respond-to(lg) {right: -20px;}
		@include respond-to(md) {
			display: block;
			margin: 15px auto 0 auto;
			position: relative; top: auto; right: auto; transform: translateY(0); 
		}
	}
}
// неактивная полупрозрачная кнопка с помощью класса disabled для всех кнопок
[class^='btn'] {
	&.disabled {
		opacity: 0.8; pointer-events: none;
	}
}

.show_more {
	text-align: center; color: rgba(0, 0, 0, 0.7); 
	display: block; margin: 30px 0;
	
	span {
		display: block; margin-bottom: 10px;
	}
	em {
		text-align: left;
		display: block; width: 33px; height: 33px; position: relative; padding: 11px 0 0 11px; margin: 0 auto;
		border: 1px solid #4489ff; border-radius: 50%;
		
		i {vertical-align: top;}
	}
	.ladda-label {
		position: relative;
	}
	.ladda-spinner {
		width: 10px; margin: 0 auto; position: absolute; bottom: 0; left: 50%;
		@include respond-to(md) {bottom: -20px;}
	}
	
}