.footer {
	background: $white; border-top: 1px solid $border; overflow: hidden;
	
	figure {
		@extend .row-center-center;

		img {max-width: 220px; margin-left: $size-l;}
		figcaption {
			padding: $size-l 0; text-align: right; position: relative; 
			@include respond-to(sm) {padding: $size-base 0; text-align: center;}

			p {color: $black; @include font-type($title, 23px, 29px, -0.4px); margin-bottom: 7px;}
			a {
				display: inline-block; color: $font-light_2; @include font-type($text, 16px, 22px, 0.4px); position: relative;
				i {color: $arrows; font-weight: 600; margin-left: $size-s; transition: all 0.4s; transform: translateX(0);}
				&:hover i {transform: translateX(5px);}
			}

			&.sep {
				width:1px; height: 100px; margin: 0 $size-s; padding: 0; background: $white;
				@include respond-to(sm) {display: none;}
			}
		}
		@include respond-to(sm) {flex-direction: column-reverse; text-align: center; padding-left: 0;}
	}

	address {
		display: flex; padding: $size-m 0; margin-bottom: 0; position: relative; 
		@include respond-to(md){flex-direction: column;}
		@include respond-to(sm){flex-wrap: wrap;}

		&:after {
			content: '';
			position: absolute; top:0; left:50%; margin-left: -5000px; width:10000px; height: 1px;
			background: #e7edf2;
		}

		a {color: $font-light_2; @include font-type($text, 14px, 14px, 0.6px);}
		small {color: $black; @extend .title-thin-main; font-size: 12px;}

		& > ul {
			width: 50%; @extend .row-between-center;
			@include respond-to(md) {width: 100%;}
			@include respond-to(xs) {flex-direction: column; align-items: flex-start;}
			
			&:first-child {
				padding-right: $size-s;
				@include respond-to(md) {margin-right: 0; margin-bottom: $size-l;}
				@include respond-to(xs) {margin-bottom: $size-s;}
			}
			
			&:last-child {
				padding-left: $size-l;
				@include respond-to(md) {padding-left: 0;}
			}

			& > li {
				@include respond-to(xs) {margin-bottom: $size-base; &:last-child {margin-bottom: 0;}}
			}
		}	
	}	
}
