
.white-shadow {background: $white; box-shadow: 0 1px $size-s 0 $shadow-full;}
$header-height: 65px;

// HEADER
.header {
	@extend .row-between-strech;
	height: $header-height; width: 100%; padding: 0 50px;
	position: fixed; top: 0; left: 0; z-index: 5;
	@extend .white-shadow;
	transition: all 0.3s ease-out;
	// transform: translateY(-100%); &.active {transform: translateY(0);}
	@include respond-to(sm) {
		padding: 0 15px;
	}

	a.logo {
		height: 100%; @extend .column-center-center; margin-top: 0;
		@extend .icon; @extend .logo-blue; position: relative;

		span {
			display: none;
			padding-left: $size-base;
			@extend .absoluteY; left: $size-xl * 2;

			&:before {
				content: '';
				display: block;
				width: 2px; height: 25px; background: $white;
				@extend .absoluteY; left: 0;
			}
		}
	}
	
	nav.menu {
		height: 100%; @extend .row-end-center;
		& > ul {
			height: 100%; @extend .row-center-strech; margin-right: 45px;
			li {
				height: 100%; position: relative; margin-right: 45px;
				&:first-child {
					margin-right: 30px;
				}
				&:last-child {
					margin-right: 0;
				}
				a {
					height: 100%; @extend .row-center-center;
					i {
						height: 100% !important; @extend .column-center-center; @extend .icon; margin-right: 10px;

						&.icon-search {@extend .search-black;}
						&.icon-plus {@extend .plus-black;}
					}

					span {color: $black; @include font-type($title, 15px, 15px, 0); opacity: 0.7; transition: all .3s ease-out;}
					&:hover, &:active, &:focus {text-decoration: none;}
					&:hover {span {color: $brand;}}
				}
				&.active {
					&:after {@extend .absoluteX; bottom: 0; width: 100%; height: 2px; background: $brand; content: '';}
					a {&:hover {cursor: default;}}
				}
			}
			@include respond-to(md) {display: none;}
		}

		a.burger {
			@extend .column-between-strech; width: 22px; height: 20px;
			span {background: $black; height: 2px; opacity: 0.7; transition: all 0.3s ease-out;}
		}
	}


	.index & {
		background: transparent; box-shadow: none;

		a.logo {
			@extend .icon; @extend .logo-white;
			span {display: block; @include respond-to(sm) {display: none;}}
		}
		nav.menu { 
			& > ul li a {
				span {color: white; opacity: 1;}
				i {
					&.icon-search {@extend .search-white;}
					&.icon-plus {@extend .plus-white;}
				}
			}
			a.burger {span {background: $white; opacity: 1;}}
		}
		
		// меню со сплошным фоном
		&.filled {
			@extend .white-shadow;
			a.logo {@extend .logo-blue;}
			nav.menu {
				& > ul li a {
					span {color: $black; opacity: 0.7;}
					i {
						&.icon-search {@extend .search-black;}
						&.icon-plus {@extend .plus-black;}
					}
				}
				a.burger {span {background: $black; opacity: 0.7;}}
			}
		}
	}
}

nav.menu-open {
	width: 430px; height: 100vh; margin-right: -24px;
	position: fixed; top: 0; right: 0; z-index: 5000;
	background: $bg-gray;

	transition: transform 0.3s ease-out; 
	transform: translateX(100%);

	@include respond-to(xs) {width: calc(100% + 24px);}

	.active & {
		transform: translateX(0);
	}


	a.menu-close {
		width: 34px; height: 34px;
		position: absolute; right: $size-l; top: $size-s;

		&:before, &:after {
			content: '';
			height: 20px; width: 2px;
			position: absolute; left: 16px; top: 8px;
			background-color: #333;
		}

		&:before {transform: rotate(45deg);}
		&:after {transform: rotate(-45deg);}
	}

	& > ul {
		overflow-y: auto; max-height: 100%;
		& > li {
			border-bottom: 1px solid $border;

			a {
				display: block; color: $black; @extend .title-bold-primary; padding: $size-base $size-m;
				&:hover {
					background: $selected; text-decoration: none;
				}
			}
			&.active {
				a {
					background: $selected; text-decoration: none;
					&:hover {cursor: default;}
				}
			}

			&.languages, &.login {
				padding: $size-base $size-m;

				a {
					display: inline-block; padding: 0; position: relative;
					&:hover {background: transparent; text-decoration: underline !important;}

					&:first-child {
						padding-right: $size-base;

						&:after {
							display: block; text-align: center; 
							width: 15px; height: 100%; 
							position: absolute; top: 0; right: 0;
						}
					}
				}
			}
			&.login {a {&:first-child {&:after {content: '/';}}}}
			&.languages {
				a, span {color: $font-light_1; opacity: 0.5;}
				a {&:first-child {&:after {content: '|';}}}
			}
		}
	}

}



// header new
.header-new {
	display: flex; justify-content: space-between; align-items: center; height: $header-height;
	@include respond-to(xs) {
		flex-wrap: wrap; height: 125px; padding: 15px 0;
	}
	a.logo {
		height: 100%; width: auto; @extend .column-center-center; margin-top: 0;
		@extend .icon; @extend .logo-blue; position: relative;
		@include respond-to(xs) {
			order: 0; height: auto;
		}

		span {
			display: none;
			padding-left: $size-base;
			@extend .absoluteY; left: $size-xl * 2;

			&:before {
				content: '';
				display: block;
				width: 2px; height: 25px; background: $white;
				@extend .absoluteY; left: 0;
			}
		}
	}

	form {
		position: relative; width: 51%; margin: 0 15px;
		@include respond-to(lg) {
			width: 40%;
		}
		@include respond-to(md) {
			width: 30%;
		}
		@include respond-to(sm) {
			width: 60%;
		}
		@include respond-to(xs) {
			width: 100%; margin: 10px 0 0; order: 2;
		}
		input {
			color: $black; font-family: $title; font-size: 15px; line-height: 17px;
			width: 100%; height: 40px; padding: 0 50px 0 12px;
			background: #f5f2f7; border: 1px solid #d9deea;
			&::-webkit-input-placeholder {color:#89a1b3;}
			&::-moz-placeholder {color:#89a1b3;}/* Firefox 19+ */
			&:-moz-placeholder {color:#89a1b3;}/* Firefox 18- */
			&:-ms-input-placeholder {color:#89a1b3;}
		}
		button {
			display: flex; align-items: center; position: absolute; right: 0; top: 0; height: 100%; padding: 0 14px;
			background: transparent;
			cursor: pointer;
			&:hover {
				i {
					opacity: 1;
				}
			}
			i {
				opacity: 0.8;
				&.search-gray {
					&:before {
						background: url('../img/icons/search-gray.svg') center center no-repeat;
					}
				}
			}
		}
	}

	nav {
		display: flex; align-items: center; height: 100%;
		@include respond-to(xs) {
			order: 1; height: auto;
		}
		ul {
			display: flex; height: 100%;
			@include respond-to(sm) {
				display: none;
			}
			li {
				margin-right: 43px; height: 100%; display: flex; align-items: center;
				@include respond-to(md) {
					margin-right: 30px;
				}
				&:last-child {
					margin-right: 0;
				}
				a {
					color: $black; font-family: $title; font-size: 16px; line-height: 20px;
					height: 100%; display: flex; align-items: center;
					transition: 0.3s ease-out;
					&:hover {
						color: $brand;
					}
					span {
						color: inherit;
					}
				}
			}
		}
		a.user {
			display: block; width: 32px; height: 32px; position: relative;
			background-color: #f5f2f7; border-radius: 50%;
			overflow: hidden;
			@include respond-to(sm) {
				margin-left: 0;
			}
			img {
				max-width: 100%; max-height: 100%;
				position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
			}
		}
		a.burger {
			display: block; width: 25px; height: 25px; position: relative; margin-left: 32px;
			@include respond-to(md) {
				margin-left: 20px;
			}
			span {
				display: block; width: 19px; height: 2px; position: absolute; left: 50%; transform: translateX(-50%);
				background: $black;
				&:first-child {
					top: 4px;
				}
				&:nth-child(2), &:nth-child(3) {
					top: 11px;
				}
				&:last-child {
					top: 18px;
				}
			}
		}
	}
}