.icon.market-shops:before {
	background: url('../img/icons/market-shops.svg') center center no-repeat;
}
.icon.market-users:before {
	background: url('../img/icons/market-users.svg') center center no-repeat;
}
.icon.market-heart:before {
	background: url('../img/icons/market-heart.svg') center center no-repeat;
}
.icon.market-squares:before {
	background: url('../img/icons/market-squares.svg') center center no-repeat;
}
.icon.popup-back:before {
	background: url('../img/icons/popup-back.svg') center center no-repeat;
}
.icon.shops-small:before {
	background: url('../img/icons/shops-small.svg') center center no-repeat;
}
.icon.users-small:before {
	background: url('../img/icons/users-small.svg') center center no-repeat;
}
.icon.plus-add:before {
	background: url('../img/icons/plus-add.svg') center center no-repeat;
}