.icon {
    font-size: 10px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../img/sprite.svg");
      background-repeat: no-repeat;
      background-size: 13.7em 66.1em;

      .no-svg & {
        background-image: url("../img/sprite.png");
      }
    }
}




.icon.angle_down {
  &:before {
      background-position: 0em 0em;
      width: 1em;
      height: 0.8em;
    }
  }

  @mixin icon-angle_down(){
    @extend .angle_down;
  }


.icon.checked {
  &:before {
      background-position: 0em -0.8em;
      width: 1.1em;
      height: 0.9em;
    }
  }

  @mixin icon-checked(){
    @extend .checked;
  }


.icon.fromshops-black {
  &:before {
      background-position: 0em -1.7em;
      width: 4.3em;
      height: 4.3em;
    }
  }

  @mixin icon-fromshops-black(){
    @extend .fromshops-black;
  }


.icon.fromshops-blue {
  &:before {
      background-position: 0em -6em;
      width: 4.3em;
      height: 4.3em;
    }
  }

  @mixin icon-fromshops-blue(){
    @extend .fromshops-blue;
  }


.icon.fromusers-black {
  &:before {
      background-position: 0em -10.3em;
      width: 4em;
      height: 4.5em;
    }
  }

  @mixin icon-fromusers-black(){
    @extend .fromusers-black;
  }


.icon.fromusers-blue {
  &:before {
      background-position: 0em -14.8em;
      width: 4em;
      height: 4.5em;
    }
  }

  @mixin icon-fromusers-blue(){
    @extend .fromusers-blue;
  }


.icon.heart {
  &:before {
      background-position: 0em -19.3em;
      width: 7.8em;
      height: 6.8em;
    }
  }

  @mixin icon-heart(){
    @extend .heart;
  }


.icon.logo-blue {
  &:before {
      background-position: 0em -26.1em;
      width: 10.6em;
      height: 2.8em;
    }
  }

  @mixin icon-logo-blue(){
    @extend .logo-blue;
  }


.icon.logo-white {
  &:before {
      background-position: 0em -28.9em;
      width: 10.6em;
      height: 2.8em;
    }
  }

  @mixin icon-logo-white(){
    @extend .logo-white;
  }


.icon.logo_gray {
  &:before {
      background-position: 0em -31.7em;
      width: 13.7em;
      height: 3.6em;
    }
  }

  @mixin icon-logo_gray(){
    @extend .logo_gray;
  }


.icon.market-heart {
  &:before {
      background-position: 0em -35.3em;
      width: 2em;
      height: 1.7em;
    }
  }

  @mixin icon-market-heart(){
    @extend .market-heart;
  }


.icon.market-squares {
  &:before {
      background-position: 0em -37em;
      width: 2em;
      height: 2em;
    }
  }

  @mixin icon-market-squares(){
    @extend .market-squares;
  }


.icon.message {
  &:before {
      background-position: 0em -39em;
      width: 1.3em;
      height: 1.3em;
    }
  }

  @mixin icon-message(){
    @extend .message;
  }


.icon.pen {
  &:before {
      background-position: 0em -40.3em;
      width: 1.6em;
      height: 1.6em;
    }
  }

  @mixin icon-pen(){
    @extend .pen;
  }


.icon.pin {
  &:before {
      background-position: 0em -41.9em;
      width: 1.1em;
      height: 1.3em;
    }
  }

  @mixin icon-pin(){
    @extend .pin;
  }


.icon.plus {
  &:before {
      background-position: 0em -43.2em;
      width: 1.2em;
      height: 1.2em;
    }
  }

  @mixin icon-plus(){
    @extend .plus;
  }


.icon.plus-add {
  &:before {
      background-position: 0em -44.4em;
      width: 3.7em;
      height: 3.7em;
    }
  }

  @mixin icon-plus-add(){
    @extend .plus-add;
  }


.icon.plus-black {
  &:before {
      background-position: 0em -48.1em;
      width: 1.2em;
      height: 1.2em;
    }
  }

  @mixin icon-plus-black(){
    @extend .plus-black;
  }


.icon.plus-white {
  &:before {
      background-position: 0em -49.3em;
      width: 1.2em;
      height: 1.2em;
    }
  }

  @mixin icon-plus-white(){
    @extend .plus-white;
  }


.icon.popup-back {
  &:before {
      background-position: 0em -50.5em;
      width: 1.6em;
      height: 1.6em;
    }
  }

  @mixin icon-popup-back(){
    @extend .popup-back;
  }


.icon.refresh {
  &:before {
      background-position: 0em -52.1em;
      width: 1.8em;
      height: 1.7em;
    }
  }

  @mixin icon-refresh(){
    @extend .refresh;
  }


.icon.search-black {
  &:before {
      background-position: 0em -53.8em;
      width: 1.5em;
      height: 1.5em;
    }
  }

  @mixin icon-search-black(){
    @extend .search-black;
  }


.icon.search-gray {
  &:before {
      background-position: 0em -55.3em;
      width: 1.5em;
      height: 1.5em;
    }
  }

  @mixin icon-search-gray(){
    @extend .search-gray;
  }


.icon.search-white {
  &:before {
      background-position: 0em -56.8em;
      width: 1.5em;
      height: 1.5em;
    }
  }

  @mixin icon-search-white(){
    @extend .search-white;
  }


.icon.seen {
  &:before {
      background-position: 0em -58.3em;
      width: 1.4em;
      height: 1.1em;
    }
  }

  @mixin icon-seen(){
    @extend .seen;
  }


.icon.shield {
  &:before {
      background-position: 0em -59.4em;
      width: 1.4em;
      height: 1.7em;
    }
  }

  @mixin icon-shield(){
    @extend .shield;
  }


.icon.shops-small {
  &:before {
      background-position: 0em -61.1em;
      width: 1.9em;
      height: 1.9em;
    }
  }

  @mixin icon-shops-small(){
    @extend .shops-small;
  }


.icon.time {
  &:before {
      background-position: 0em -63em;
      width: 1.3em;
      height: 1.3em;
    }
  }

  @mixin icon-time(){
    @extend .time;
  }


.icon.users-small {
  &:before {
      background-position: 0em -64.3em;
      width: 1.6em;
      height: 1.8em;
    }
  }

  @mixin icon-users-small(){
    @extend .users-small;
  }



