.app {
	padding-top: $header-height;
	overflow-x:hidden;

	.wrapper {
		&.gray {background: $bg-gray;}
	}

	.wr {
		&-authentication, &-products, &-product, &-ads, &-landing-category, &-main-products, &-main-news {
			&.gray {background: $bg-gray;}
		}

		&-authentication {
			h1, h2 {
				font-size: 34px; font-family: $title; line-height: 42px; text-align: center;
			}
			p {
				text-align: center;
				a {
					color: $brand;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&-products {
			padding: 35px 0;
		}
		&-product {
			padding: 0;
			background: $white;
		}

		// landing pages
		&-ads {
			padding: 37px 0 30px;
		}
		&-landing-category {
			padding: 30px 0 60px;
		}
		&-main {
			&-products {
				padding: 50px 0 35px;
			}
			&-news {
				padding: 71px 0 46px;
			}
		}
		&-testimonials {
			padding: 107px 0 88px;
		}
	}
}

