.app {
	padding-top: $header-height; min-width: 320px;
	overflow-x:hidden;

	&.market2 {
		padding-top: calc(65px + 70px);
		@include respond-to(md) {
			padding-top: 65px;
		}
	}

	.wrapper {
		&.gray {background: $bg-gray;}
	}

	.pagination-block {
		padding: 10px 0 0 0;
		background: $bg-gray;
		.container {
			padding: 0;
		}
	}

	.header {
		z-index: 1000;
	}

	.wr {
		&-authentication, &-products, &-product, &-ads, &-landing-category, &-main-products, &-main-news, &-testimonials, 
		&-megasale, &-joined_partners, &-people, &-auction, &-auction-filter, &-funds, &-personal-tab, &-profile-orders {
			&.gray {background: $bg-gray;}
		}

		&-menu-open {
			position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 5000;
			background: transparent;
			pointer-events: none;

			&.active {
				pointer-events: auto;
			}
		}

		&-catalog {
			padding: 26px 0 79px;
			&-header {
				position: fixed; z-index: 500; left: 0; top: $header-height; width: 100%; height: 70px;
				@include respond-to(md) {
					position: relative; top: 0; height: auto;
				}
				&:after {
					content: '';
					position: fixed; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100vh; z-index: -1;
					background: $black;
					opacity: 0; pointer-events: none; transition: opacity 0.5s ease-out;
				}

				.wr-catalog-dropdown.active ~ &:after {
					content: '';
					position: fixed; left: 0; top: 0; right: 0; bottom: 0;
					background: red;
				}

				&.layout {
					&:after {
						opacity: 0.2; pointer-events: auto;
						@include respond-to(md) {
							display: none;
						}
					}
				}

				.desktop {
					height: 100%;
					@include respond-to(md) {
						display: none;
					}
				}
				.mobile {
					display: none; height: 100%;
					@include respond-to(md) {
						display: block;
					}
				}
			}
			&-nav {
				position: relative; height: 100%; z-index: 5;
				background: $white; border-bottom: solid 1px #d9deea;
				.container {
					height: 100%; z-index: 5; position: relative;
				}
			}
			&-dropdown {
				position: absolute; bottom: 0; left: 0; width: 100%; z-index: 3; transform: translateY(-1px);
				background: #ffffff; border-bottom: solid 1px #d9deea;
				transition: 0.5s ease-out;
				opacity: 0;

				@include respond-to(md) {
					display: none;
				}

				&.active {
					transform: translateY(100%); z-index: 4;
					opacity: 1;
				}
			}

			// mobile version
			&-sellers {
				background: $white;
			}
		}

		&-authentication {
			padding: 50px 0;
			h1, h2 {
				font-size: 34px; font-family: $title; line-height: 42px; text-align: center;
				margin-top: 0;
			}
			p {
				text-align: center;
				a:not(.btn) {
					color: $brand;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&-products {
			padding: 35px 0;
		}
		&-product {
			padding: 0;
			background: $white;
		}

		// landing pages
		&-ads {
			padding: 35px 0 30px;
		}
		&-landing-category {
			padding: 30px 0 60px;
		}
		&-main {
			&-products {
				padding: 50px 0 35px;
			}
			&-news {
				padding: 71px 0 46px;
			}
		}
		&-testimonials {
			padding: 107px 0 88px;
		}

		&-megasale {
			padding: 30px 0 60px;
		}

		&-joined_partners {
			padding: 45px 0;
		}

		&-people {
			padding: 80px 0 40px;
		}

		&-about {
			padding: 65px 0 61px 41px;
			@include respond-to(sm) {padding-left: 0;}
		}

		&-people-block {
			padding: 40px 0 60px;
		}

		&-auction {
			padding: 22px 0 34px;
			border-bottom: 1px solid #d9deea;
			&-filter {
				padding: 45px 0 0;
			}
		}

		&-funds {
			padding: 30px 0;
		}

		&-personal {
			&-info {
				border-bottom: 3px solid #eff3f5;
			}
			&-tabs {
				
			}
			&-tab {
				padding: 30px 0;
			}
		}

		&-profile {
			h3 {
				font-size: 24px; font-family: $title; letter-spacing: 0; text-align: center;
				margin-top: 0;
			}
			&-orders {
				padding: 0 15px;
			}

			&-avatar {
				padding: 0 0 20px;
			}
		}

		&-booking {
			padding: 11px 0 0;
			
			&-steps {
				border-bottom: 1px solid #e8eaee;
			}
		}
	}

}

