<div class="color-switcher">
	<a href="#"><i class="fa fa-angle-left"></i><i class="fa fa-angle-right"></i></a>
	<ul>
		<li>
			<a href=""><em>Базовый</em><span style="background: #4489FF;"></span></a>
		</li>
		<li>
			<a href="children"><em>Дети</em><span style="background: #E8B194;"></span></a>
		</li>
		<li>
			<a href="pet"><em>Животные</em><span style="background: #96be46;"></span></a>
		</li>
		<li>
			<a href="dobro"><em>Делись добром</em><span style="background: #7A3FBF;"></span></a>
		</li>
		<li>
			<a href="art"><em>Исскуство</em><span style="background: #000;"></span></a>
		</li>
		<li>
			<a href="fashion"><em>Мода</em><span style="background: #000;"></span></a>
		</li>
	</ul>
</div>