////////////////////////////////////////////////////
////////////////////////////////////////////////////

////---ОБЩИЕ СТИЛИ ДЛЯ БЛОКОВ---////
.preloader {
	display: block; width: 100%; height: 100%;
	position: fixed; top: 0; left: 0; z-index: 99999;
	background: #3f86ff url('../img/preloader.gif') center center no-repeat;

	&.index {
		background: #669CF9 url('../images/index.gif') center center no-repeat;

		&.pet {background: #96BE46 url('../images/animals.gif') center center no-repeat;}
		&.children {background: #E8B194 url('../images/kids.gif') center center no-repeat;}
		&.dobro {background: #7A3FBF url('../images/dobro.gif') center center no-repeat;}
		&.art, &.fashion {background: #000000 url('../images/dark.gif') center center no-repeat;}
	}
}

a:hover {text-decoration: none;}

//Отступы между блоками и фон
.wrapper {
	padding: 60px 0; background: white;
	&.grey {
		background: #F1F3F7;
		& .title-little {color: #000;}
	}
}

//Заголовок по левой стороне - http://prntscr.com/hdq1b1
.title {
	&-big {
		@include font-type($title, 34px, 40px, 0px); text-align: left; 
		margin-bottom: 36px;
		&.left {text-align: left;}
		&.center {text-align: center;}
	}
	&-little {
		@include font-type($title, 16px, 1, 0); color: #7690a4; text-align: center;
		margin-bottom: 50px;
	}
	
}

//
.container {
	position: relative;
	@include respond-to(lg) {padding: 0 15px;}
}


//	СТИЛИ ДЛЯ КАРУСЕЛЕЙ
//CAROUSEL - http://prntscr.com/h2bo9g
.carousel {
	.navigation, .owl-dots {display: flex; justify-content: center;}
	.navigation, .owl-dots {margin-top: 30px; padding-left: 6px;
		li,  .owl-dot {
			flex-shrink: 0;
			width: 19px; height: 8px; margin: 0 5px; padding: 0;
			background: #d9deea; border-radius: 10px; cursor: pointer;
			&.active {
				background: #4489ff; 
				.pet & {background: #96be46;}
				.children & {background: #E8B194;}
				.dobro & {background: #7A3FBF;}
				.art &, .fashion & {background: #000;}
				&:hover {cursor: default;}
			}
			&:active {transform: translateY(0);}
			&.active {transform: translateY(0); &:hover {cursor: default;}}
		}
	}			
}


//FOOTER
.footer {
	address {
		ul {
			&.share {
				li a {
					&:hover {
						i {
							.pet & {color: #96be46;}
							.children & {color: #E8B194;}
							.dobro & {color: #7A3FBF;}
							.art &, .fashion & {color: #000;}
						}
					}
				}
			}
			& > li {
				& > ul {
					& > li {
						margin-bottom: 10px;
						&:last-child {margin-bottom: 0;}
						small {font-size: 70%;}
					}
				}
			}
		}
	}
}