<article>
  <header>
    <a href="#">
      <figure>
        <img src="assets/img/interface/item.jpg" alt="">
        <figcaption>
          <span class="favorites">94%</span>
          <span class="sale"></span>
          <span class="top"></span>
        </figcaption>
      </figure>
    </a>
  </header>
  <section>
    <h2><a href="#">iPhone 7</a></h2>
    <ul class="posted">
      <li>м. Кропоткинская</li>
      <li>1 дн. назад</li>
    </ul>
    <ul class="tags">
      <li><a href="#">Магазин</a></li>
      <li><a href="#">Аукционы</a></li>
    </ul>
  </section>
  <footer>
    <a href="#">
      <figure>
        <img src="assets/img/interface/ava.png" alt="">
        <figcaption>Мария</figcaption>
      </figure>
    </a>
    <p class="price">1 500 ₽</p>
  </footer>
</article>