<article>
  <a href="#">
    <header>
        <figure>
          <img src="assets/img/news/news-dd.jpg" alt="">
          <figcaption></figcaption>
        </figure>
    </header>
    <section>
      <h3>Делись добром, Москва!</h3>
      <p>Благотворительная ивент платформа «Делись добром, Москва!» организует праздничные мероприятия и акции в пользу благотворительных организаций, привлекая к благотворительной деятельности новые массовые аудитории.</p>
      <span class="date">11 ноября 2017</date>
    </section>
  </a>
</article>