<article> 
	<header>
		<figure>
			<img src="../../assets/img/funds/fund-2.png" alt="">
			<figcaption>
				<hgroup>
					<h3>Кораблик</h3>
					<h4>Детский благотворителный ФОНД</h4>
				</hgroup>
			</figcaption>
		</figure>
	</header>
	<section>
		<ul>
			<li>
				<h4>Магнитола SONY</h4>
				<dl>
					<dt>+ 2 000 <span>₽</span></dt>
					<dd><a href="#">Отчет</a></dd>
				</dl>
			</li>
			<li>
				<h4>Лампа настольная Pixar</h4>
				<dl>
					<dt>+ 800 <span>₽</span></dt>
					<dd><a href="#">Отчет</a></dd>
				</dl>
			</li>
			<li>
				<h4>Лампа настольная Pixar</h4>
				<dl>
					<dt>+ 800 <span>₽</span></dt>
					<dd><a href="#">Отчет</a></dd>
				</dl>
			</li>
		</ul>
	</section>
	<footer>
		<h4>Всего: <strong>17 325 <span>₽</span></strong></h4>
	</footer>
</article>	