<ul class="share">
	<li>Поделиться:</li>
	<li><a href="https://t.me/oneplus1ru" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
    <li><a href="http://vk.com/club147946456" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
    <li><a href="https://ok.ru/group/54493224042613" target="_blank"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
    <li><a href="https://www.facebook.com/oneplus1.ru/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/oneplus1.ru/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
</ul>