// Buttons
.btn {
	color: $white; font-family: $ms-500; font-size: 19px; text-align: center;
	display: inline-block; padding: 9px 15px;
	background: $brand; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border: solid 2px $brand; border-radius: 100px;
	transition: 0.3s ease-out;
	&:hover {
		color: $brand;
		background: $white;
	}
}