$header-height: 70px;

// HEADER
.header {
	height: $header-height;
	@extend .row-between-stretch;

	ul {
		height: 100%;
		li {
			a {
				color: #5d5d5d; font-family: $ms-500; font-size: 15px;
				display: flex; align-items: center; height: 100%; padding: 10px;
			}
			&.active, &.links {
				a {
					font-family: $ms-700; font-size: 15px;
				}
			}
			&.links {
				a {
					color: $brand;
				}
			}
			&.active {
				a {
					color: $black;
				}
			}
		}
	}

	div {
		@extend .row-start-stretch;
		nav {
			ul {
				@extend .row-start-stretch;
				li {
					margin-right: 25px;
					&:last-child {
						margin-right: 0;
					}
					a {

					}
				}
			}
		}

		& > ul {
			@extend .row-start-stretch; margin-right: -10px;
			li {
				margin-right: 15px;
				&:last-child {
					margin-right: 0;
				}
				a {

				}
			}
		}
	}

	a.logo {
		height: 100%; @extend .column-center-center; margin-right: 70px;
		@extend .icon; @extend .logo-blue; position: relative;

		span {
			display: none;
			padding-left: $size-base;
			@extend .absoluteY; left: $size-xl * 2;

			&:before {
				content: '';
				display: block;
				width: 2px; height: 25px; background: $white;
				@extend .absoluteY; left: 0;
			}
		}
	}
}