.icon {
    font-size: 10px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../img/sprite.svg");
      background-repeat: no-repeat;
      background-size: 10.6em 2.8em;

      .no-svg & {
        background-image: url("../img/sprite.png");
      }
    }
}




.icon.logo-blue {
  &:before {
      background-position: 0em 0em;
      width: 10.6em;
      height: 2.8em;
    }
  }

  @mixin icon-logo-blue(){
    @extend .logo-blue;
  }



