.app {
	padding-top: $header-height;
	overflow-x:hidden;

	.wrapper {
		&.gray {background: $bg-gray;}
	}

	.wr {
		&-authentication {
			&.gray {background: $bg-gray;}
		}

		&-authentication {
			h1, h2 {
				font-size: 34px; font-family: $title; line-height: 42px; text-align: center;
			}
			p {
				text-align: center;
				a {
					color: $brand;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

