/***********************/
/******** Colors *******/
/***********************/
// BASE
$brand: #4489ff;

// FONT
$font-light_1: #79879e;
$font-light_2: #4b5769;
$font-light_3: #B2B2B2;
$font-light_4: #9d9d9d;
$font-light_5: #89a1b3;

// BG
$bg-gray: #fafafa;

// UI
$selected: #EBEEF3;
$border: #DFE0E2;
$arrows: #AFABA1;

// colors
$white: white;
$black: black;
$link-color: #669CF9;


/***********************/
/******** Fonts ********/
/***********************/
// BASE
$ms-500: 'museosans500', sans-serif;
$ms-700: 'museosans700', sans-serif;


/*****************************/
/******** Proportions ********/
/* 5, 10, 15, 30, 40, 60, 80 */
/*****************************/
$size-xs: 5px;
$size-s: 10px;
$size-base: 15px;
$size-m: 30px;
$size-l: 40px;
$size-xl: 60px;
$size-xxl: 80px;


/***********************************************************/
/************************ CONTAINER ************************/

.container {
	position: relative; margin: 0 auto; width: 1180px;
	@include respond-to(lg) {width: 980px;}
	@include respond-to(md) {width: 760px;}
	@include respond-to(sm) {width: 100%;}

	&:before {content: ''; display: table;}
	&:after {content: ''; display: table; clear: both;}
}
/***********************************************************/
/*********************** BOX STYLES ***********************/

$shadow-full : rgba(0, 0, 0, 0.1);
$shadow-half : rgba(0, 0, 0, 0.05);

/**********************************************************/
/************************ ALIGMENTS ************************/

/* ABSOLUTE-position */
.absoluteX {position: absolute; left: 50%; transform: translateX(-50%);}
.absoluteY {position: absolute; top: 50%; transform: translateY(-50%);}
.absoluteXY {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

/* FLEX-boxes */
.row-start-start {display: flex; justify-content: flex-start; align-items: start;}
.row-start-stretch {display: flex; justify-content: flex-start; align-items: stretch;}
.row-center-stretch {display: flex; justify-content: center; align-items: stretch;}
.row-between-start {display: flex; justify-content: space-between; align-items: flex-start;}
.row-between-stretch {display: flex; justify-content: space-between; align-items: stretch;}
.row-between-center {display: flex; justify-content: space-between; align-items: center;}
.row-between-end {display: flex; justify-content: space-between; align-items: flex-end;}
.row-start-center {display: flex; justify-content: flex-start; align-items: center;}
.row-end-center {display: flex; justify-content: flex-end; align-items: center;}
.row-center-center {display: flex; justify-content: center; align-items: center;} // посередине по ширине – КНОПОЧКИ
.column-center-center {display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;} // посередине по высоте – ИКОНКИ
.column-between-stretch {display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: stretch;}
.column-between-center {display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: center;}
/***********************************************************/


// cutting text by 3 dots
.doted {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

// clear
.clear {
	&:after, &:before {
		content: '';
		display: table; width: 100%; clear: both;
	}
}