.news {
	&-single {
		a:not(.btn) {
			color: $brand; font-size: 16px; font-family: $text; line-height: 24px; letter-spacing: 0.7px;
			&:hover {
				text-decoration: underline;
			}
		}

		h2 {
			font-family: $title; font-size: 26px; line-height: 32px; letter-spacing: 0px;
			margin-bottom: 10px;
		}

		h3, h4, h5, h6 {
			font-family: $title; font-size: 18px; line-height: 20px; letter-spacing: 0px;
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 10px;
			strong {
				font-weight: 700;
			}
		}

		address {
			font-family: $title; font-size: 14px; line-height: 22px; letter-spacing: 0.4px;
			display: inline-block; margin-bottom: 50px; padding: 20px 30px;
			background: rgba(0, 0, 0, 0.08);
			strong {
				font-weight: 700;
			}
			a {
				font-size: inherit !important; font-family: inherit !important; line-height: inherit !important; font-weight: inherit; letter-spacing: inherit !important;
				display: inline-block;
			}
		}

		ul {
			margin-bottom: 30px;
			&.typo {
				&-list_1 {
					li {
						padding-left: 40px;
						&:before {
							content: '';
							width: 12px; height: 12px; position: absolute; left: 10px; top: 50%; transform: translateY(-50%);
							background: url('../images/checked.svg') center no-repeat;
						}
					}
				}
				&-list_2 {
					li {
						padding-left: 40px;
						&:before {
							content: '';
							width: 12px; height: 12px; position: absolute; left: 10px; top: 50%; transform: translateY(-50%);
							background: url('../images/plus.svg') center no-repeat;
						}
					}
				}
				&-links {
					display: flex; margin-bottom: 42px;
					li {
						margin-right: 10px;
						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
			li {
				font-size: 16px; font-family: $text; line-height: 24px; letter-spacing: 0.7px;
				position: relative; margin-bottom: 5px;
			}
		}

		figure {
			margin-bottom: 30px; max-width: 600px; width: 100%;
			img {
				margin-bottom: 15px;
			}
			figcaption {
				color: #4b5769; font-family: $text; font-size: 10px; line-height: 18px; letter-spacing: 1.1px; text-transform: uppercase;
			}

			& > * {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}