{% extends '../../tpl/base.html.twig' %}

{% block header_class %}{% endblock %}

{% block app_class %}en{% endblock %}
{% block preloder_class %}{% endblock %}

{% block body %}

	{% block header %}
		<header>
			<div class="wr-header">
				<div class="container">

					<div class="header">
						<div>
							<a href="#" class="logo"></a>
							<nav>
								<ul>
									<li><a href="#">Home</a></li>
									<li><a href="#">Buyers</a></li>
									<li><a href="#">Sellers</a></li>
									<li class="active"><a href="#">Brands</a></li>
									<li><a href="#">Charities</a></li>
								</ul>
							</nav>
						</div>
						<div>
							<ul>
								<li><a href="#"></a></li>
								<li><a href="#">User goods</a></li>
								<li><a href="#">Brand products</a></li>
								<li><a href="#">Sell</a></li>
								<li><a href="#">Sign in</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<div class="wr-catalog-nav">
				<div class="container">
					<div class="catalog-nav">
						<ul>
							<li><a href="#">All categories</a></li>
							<li><a href="#">Clothes</a></li>
							<li><a href="#">Furniture</a></li>
							<li><a href="#">Electronics</a></li>
							<li><a href="#">Electronics</a></li>
							<li><a href="#">Goods for kids</a></li>
							<li><a href="#">Tickets</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="wr-catalog-nav-category">
				<div class="container">

					<div class="catalog-nav-category">
						<ul>
							<li><a href="#">Childen's goods</a></li>
							<li><a href="#">Clothes and footwear</a></li>
							<li><a href="#">Electronics</a></li>
							<li><a href="#">Appliances</a></li>
							<li><a href="#">Pet supplies</a></li>
							<li><a href="#">House and Cottage</a></li>
							<li><a href="#">Beauty and health</a></li>
							<li><a href="#">Auto</a></li>
							<li><a href="#">Sport and leisure</a></li>
							<li><a href="#">Leisure and entertainment</a></li>
							<li><a href="#">Equipment</a></li>
							<li><a href="#">Food</a></li>
							<li><a href="#">Software</a></li>
							<li><a href="#">Media</a></li>
						</ul>
						<ul>
							<li><a href="#">Childen's goods</a></li>
							<li><a href="#">Clothes and footwear</a></li>
							<li><a href="#">Electronics</a></li>
							<li><a href="#">Appliances</a></li>
							<li><a href="#">Pet supplies</a></li>
							<li><a href="#">House and Cottage</a></li>
						</ul>
						<ul>
							<li><a href="#">Electronics</a></li>
							<li><a href="#">Appliances</a></li>
							<li><a href="#">Pet supplies</a></li>
							<li><a href="#">House and Cottage</a></li>
							<li><a href="#">Beauty and health</a></li>
							<li><a href="#">Auto</a></li>
						</ul>
						<ul>
							<li><a href="#">Childen's goods</a></li>
							<li><a href="#">Clothes and footwear</a></li>
							<li><a href="#">Electronics</a></li>
						</ul>
					</div>

				</div>
			</div>
		</header>
	{% endblock %}
	
	<div class="wr-catalog-list">
		<div class="container">
			<div class="section-header">
				<h1>Clothes</h1>
				<form action="#">
					<input type="text" placeholder="Search for items">
					<button></button>
				</form>
			</div>
			<div class="catalog-list">
				<div class="catalog-list-filter">
					<ul>
						<li class="active"><a href="#">All results (14 732 626)</a></li>
						<li><a href="#">Goods from celebs (150)</a></li>
						<li><a href="#">Auctions (150)</a></li>
					</ul>
				</div>
				<div class="catalog-list-sidebar">
					<ul>
						<li><a href="#"><i class="icon"></i>Charity</a></li>
						<li><a href="#">Price</a></li>
						<li><a href="#">Brand</a></li>
						<li><a href="#">Gender</a></li>
						<li><a href="#">Color</a></li>
					</ul>
				</div>
				<div class="catalog-list-body">
					<ul>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-1.png">
										</figure>
									</header>
									<section>
										<h3>CALVIN KLEIN</h3>
										<p>Leather woman bag </p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-2.png">
										</figure>
									</header>
									<section>
										<h3>Stella McCartney</h3>
										<p>Blue jacket</p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-3.png">
										</figure>
									</header>
									<section>
										<h3>Loewe</h3>
										<p>Orange leather bag</p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-4.png">
										</figure>
									</header>
									<section>
										<h3>MOSCHINO</h3>
										<p>Leather woman bag </p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-4.png">
										</figure>
									</header>
									<section>
										<h3>MOSCHINO</h3>
										<p>Leather woman bag </p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-1.png">
										</figure>
									</header>
									<section>
										<h3>CALVIN KLEIN</h3>
										<p>Leather woman bag </p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-5.png">
										</figure>
									</header>
									<section>
										<h3>CALVIN KLEIN</h3>
										<p>Leather woman bag </p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-3.png">
										</figure>
									</header>
									<section>
										<h3>CALVIN KLEIN</h3>
										<p>Leather woman bag </p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-5.png">
										</figure>
									</header>
									<section>
										<h3>CALVIN KLEIN</h3>
										<p>Leather woman bag </p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-3.png">
										</figure>
									</header>
									<section>
										<h3>CALVIN KLEIN</h3>
										<p>Leather woman bag </p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-2.png">
										</figure>
									</header>
									<section>
										<h3>CALVIN KLEIN</h3>
										<p>Leather woman bag </p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="assets/img/catalog-item-1.png">
										</figure>
									</header>
									<section>
										<h3>CALVIN KLEIN</h3>
										<p>Leather woman bag </p>
										<span class="price">$736</span>
									</section>
								</article>
							</a>
						</li>
					</ul>
					<a href="#" class="more"><span>!</span>Load more</a>
					<div class="pagination">
						<ul>
							<li>
								<a href="#">1</a>
							</li>
							<li class="active">
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<span>...</span>
							</li>
							<li>
								<a href="#">23</a>
							</li>
							<li>
								<a href="#">24</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/main-new.js') ~ codeRevisionPostfix }}"></script>
{% endblock %}