{% extends '../../tpl/base-en.html.twig' %}

{% block header_class %}{% endblock %}

{% block app_class %}en{% endblock %}
{% block preloder_class %}{% endblock %}

{% block body %}

	{% block header %}
		<header>
			<div class="wr-header">
				<div class="container">

					<div class="header">
						<div>
							<a href="#" class="logo"></a>
							<nav>
								<ul>
									<li><a href="#">Home</a></li>
									<li><a href="#">Buyers</a></li>
									<li><a href="#">Sellers</a></li>
									<li class="active"><a href="#">Brands</a></li>
									<li><a href="#">Charities</a></li>
								</ul>
							</nav>
						</div>
						<div>
							<ul>
								<li><a href="#"></a></li>
								<li><a href="#">User goods</a></li>
								<li><a href="#">Brand products</a></li>
								<li><a href="#">Sell</a></li>
								<li><a href="#">Sign in</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<div class="wr-catalog-nav">
				<div class="container">
					<div class="catalog-nav">
						<ul>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="wr-catalog-nav-category">
				<div class="conatiner">

					<div class="catalog-nav-category">
						<ul>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
						<ul>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
						<ul>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
						<ul>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
					</div>

				</div>
			</div>
		</header>
	{% endblock %}
	
	<div class="wr-catalog-list">
		<div class="container">
			<div class="section-header">
				<h1></h1>
				<form action="#">
					<input type="text" placeholder="Search for items">
					<button></button>
				</form>
			</div>
			<div class="catalog-list">
				<div class="catalog-list-filter">
					<ul>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</div>
				<div class="catalog-list-sidebar">
					<ul>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</div>
				<div class="catalog-list-body">
					<ul>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
						<li>
							<a href="#">
								<article>
									<header>
										<figure>
											<img src="">
										</figure>
									</header>
									<section>
										<h3></h3>
										<p></p>
										<span class="price"></span>
									</section>
								</article>
							</a>
						</li>
					</ul>
					<a href="#" class="more"></a>
					<div class="pagination">
						<ul>
							<li>
								<a href="#"></a>
							</li>
							<li class="active">
								<a href="#"></a>
							</li>
							<li>
								<a href="#"></a>
							</li>
							<li>
								<span>...</span>
							</li>
							<li>
								<a href="#"></a>
							</li>
							<li>
								<a href="#"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/main-new.js') ~ codeRevisionPostfix }}"></script>
{% endblock %}