// ARTICLES
article {

	&.preview {
		background: $white;
		header, footer {figure {img {max-width: 100%;}}}
		section {
			h2, h2 a, 
			h3, h3 a {@extend .title-bold-primary; margin: $size-base 0;}
			h3 {font-size: 22px; line-height: 30px;}
			span {&.date {@extend .title-thin-primary;}}
		}
		&:hover {box-shadow: 0 0 $size-s $size-s rgba(0, 0, 0, 0.03); z-index: 2;}
		
		&-product, &-news, &-project, &-showroom {@extend .preview;}
		// превью товара в списке – http://prntscr.com/h1uwdh
		&-product {
			header {
				figure {
					position: relative;
					figcaption {
						width: 100%; height: 100%; position: absolute; top: 0; left: 0; 
						background: rgba(255,255,255, 0.85); opacity: 0; transition: .4s all ease;
						span {
							&.favorites {
								@extend .row-center-center;
								color: $white; @extend .title-bold-primary; text-align: center;
								width: 100%; height: 100%; @extend .absoluteXY;
								background: url(../img/svg/heart.svg) center center no-repeat;
							}
						}
					}
					&:hover {figcaption {opacity: 1;}}
				}
			}
			section {
				padding: 0 $size-base;
				ul {
					@extend .row-start-center; 
					&.posted, &.tags {
						li, li a, li span {color: $black; @extend .title-thin-main;}
							li a, li span {@extend .box-filled-dark-1; padding: 0 $size-xs;}
					}
					&.posted {li {margin-right: $size-s;}} 
					&.tags {li {margin-right: $size-xs;} margin-left: -$size-xs;}
					&.posted, &.tags {&:last-child {margin-right: 0;}}
				}
			}
			footer {
				@extend .row-between-center; padding: $size-base; a {color: $black;}
				figure {
					@extend .row-center-center;
					img {max-width: $size-m;}
					figcaption {@extend .title-bold-secondary; @extend .doted; width: 100px; height: $size-base; margin-left: $size-s;}
				}
				.price {@extend .title-bold-primary; margin-bottom: 0;}
			}
		}
		// превью новости – http://prntscr.com/h8z3p4
		&-news {
			section {padding: $size-base;}
		}
		// превью проекта – 
		&-project {
			@extend .row-between-strech; padding: 20px 80px 20px 100px;
			@extend .box-filled-dark-1; background: $bg-gray;
			.gray & {
				background: $white;
			}
			section {
				width: 100%; padding: 30px 40px 100px 0; position: relative;
				h3 {
					margin-bottom: 25px;
				}
				p {
					@extend .text-default; line-height: 22px;
				}
				a {
					position: absolute; left: 0; bottom: 45px;
				}
			}
			footer {
				text-align: right;
				width: 290px; flex-shrink: 0; padding: 20px 0 105px 40px; position: relative;
				border-left: 1px solid $border;

				.progress {
					&_bar {
						position: relative; height: 3px; width: 100%; margin: 10px 0;
						background: #c0d1dd;
						&-fill {
							position: absolute; left: 0; top: 0; height: 3px;
							background: $brand;
						}
					}
				}
				p {
					font-family: $title;
					margin-bottom: 0;
				}
				span {
					color: $font-light_5; font-size: 12px; font-family: $text;
				}
				div {
					&.price {
						margin-bottom: 40px;
						p {
							font-size: 34px; line-height: 38px;
						}
						span {
							font-size: 14px; line-height: 18px;
						}
					}
					&.term {
						margin-top: 16px;
						& > * {
							font-size: 12px;
						}
						p {
							font-family: $text;
						}
						span {

						}
					}
				}
				ul {
					@extend .row-end-center;
					li {
						width: 50%; margin-bottom: 0;
						p {
							font-size: 18px; line-height: 22px;
						}
					}
				}
				& > a {
					position: absolute; right: 0; bottom: 45px;
				}
			}
		}
		&-humans {
			@extend .row-center-strech; padding: 20px 50px 20px 50px;
			@extend .box-filled-dark-1; background: $bg-gray;
			.gray & {
				background: $white;
			} 
			header, section, footer {
				& > * {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			header, footer {
				width: 230px; flex-shrink: 0; padding: 10px 0 60px 0;
			}
			header {
				padding-right: 40px;
				border-right: solid 1px $border;
				figure {
					img {
						margin-bottom: 20px;
					}
					figcaption {
						& > * {
							&:last-child {
								margin-bottom: 0;
							}
						}
						h3 {
							font-size: 24px; font-family: $title;
							margin-bottom: 10px;
						}
						h4, p {
							font-size: 18px; font-family: $title;
							margin-bottom: 20px;
						}
						span {
							font-size: 14px; font-family: $title;
							margin-bottom: 5px; display: block;
						}
						p {

						}
					}
				}
			}
			section {
				width: 100%; padding: 30px 40px 50px ;
				p {
					font-size: 14px; font-family: $text; line-height: 18px;
					margin-bottom: 20px;
				}
				a {

				}
			}
			footer {
				padding-left: 40px;
				border-left: solid 1px $border;
				ul {
					li {
						margin-bottom: 15px;
						&:last-child {
							margin-bottom: 0;
						}
						span {
							font-size: 14px; font-family: $text;
							margin-bottom: 5px; display: block;
						}
						p {
							font-size: 20px; font-family: $title;
						}
					}
				}
			}
		}
	}
}

// FIGURE
figure {
	&.preview {
		&-funds {
			text-align: center;
			@extend .column-center-center; height: 270px; padding: 20px 20px;
			@extend .box-filled-light-3;
			&:hover {
				figcaption {
					p {
						text-decoration: underline;
					}
				}
			}
			img {
				max-height: 80px; margin-bottom: 25px; align-self: center;
			}
			figcaption {
				& > * {
					@extend .title-thin-main; font-size: 14px; line-height: 20px;
				}
				p {
					margin-bottom: 15px;
				}
				span {
					color: $font-light_4;
					display: block;
				}
			}
		}
	}
}

// LISTS
ul.list {
	display: flex; flex-flow: row wrap; &-three, &-four {@extend .list; margin: 0 -10px;}

	&-three {
		& > li { a {display: block;}
			width: calc(33.33333% - 20px); margin: 10px;
			@include respond-to(md) {width: calc(50% - 20px);}
			@include respond-to(xs) {width: 100%;}
		}
	}

	&-four {
		& > li { a {display: block;}
			width: calc(25% - 20px); margin: 10px;
			@include respond-to(lg) {width: calc(33.33333% - 20px);}
			@include respond-to(md) {width: calc(50% - 20px);}
			@include respond-to(xs) {width: 100%;}
		}
	}

	&-products {
		@extend .list-four;
		li article {@extend .preview-product;}
	}

	&-news {
		@extend .list-three;
		li article {@extend .preview-news;}
	}

	// ---- Новый список - http://prntscr.com/hb9uju --- //
	&-showroom {
		@extend .list-three;
		li article {
			@extend .preview-news;
			figcaption {
				padding: 20px 30px;
				h4 {font-family: $title; font-size: 16px; text-transform: none;}
				p {text-transform: none; font-family: $HelveticaNL; font-size: 12px;}
			}
		}
	}

	&-filters {

	}

	&-funds {
		@extend .list-four;
		li figure {@extend .preview-funds;}
		li a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&-projects {
		li {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			article {
				@extend .preview-project;
			}
		}
	}

	&-humans {
		li {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			article {
				@extend .preview-humans;
			}
		}
	}
}  