// http://prntscr.com/h8yt0a + http://prntscr.com/h8yt7f
ul.share {
	@extend .row-center-strech;
	@include respond-to(sm) {margin-top: $size-s;}

	li {
		margin-right: $size-base; &:last-child {margin-right: 0;} 
		a {display: block; height: 100%;}
		&:first-child {@extend .title-thin-secondary;} a, i {transition: all .2s;}
	}

	.footer & {
		li {
			&:first-child {display: none;}

			a {
				i {color: $font-light_3; font-size: 24px; line-height: 24px;}
				&:hover i {color: $brand;}
			}
		}
	}
}